﻿@model TriviaCrack.Models.Category

@{
    ViewBag.Title = "Create";
}

<style>
    * {
        font-family: Verdana;
    }

    h2, select {
        text-indent: 5px;
    }

    input {
        width: 250px;
        border-radius: 15px;
        height: 24px;
    }

    label {
        font-size: 14pt;
    }

    select {
        font-size: 14pt;
        width: 160px;
        height: 40px;
        border-radius: 15px;
        background-color: purple;
        color: white;
    }
</style>

<h2>Create Category</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="font-size: 14pt; width: 120px; height: 40px; background-color: purple; color: white;" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<br/>
<div>
    @Html.ActionLink("Back to All Categories", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
