﻿@model TriviaCrack.Models.Category

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <div class="row">
        @Html.Partial("CategoryPartial")
        <div class="col-md-10">
            <h2>Are you sure you want to delete this Category?</h2>

            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" />
                    </div>
                }
            </div>

        </div>
    </div>
</div>
