﻿@model TriviaCrack.Models.Category

@{
    ViewBag.Title = "Delete";
}

<style>
    * {
        font-family: Verdana;
    }

    h2, dt {
        text-indent: 5px;
        font-weight: bold;
    }

    dt, dd {
        font-size: 12pt;
    }
</style>

<h2>Are you sure you want to delete this Category?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="border-radius: 15px; font-size: 14pt; width: 120px; height: 40px; background-color: purple; color: white;" type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to All Categories", "Index")
        </div>
    }
</div>
