﻿@model TriviaCrack.Models.Category

@{
    ViewBag.Title = "Details";
}

<style>
    * {
        font-family: Verdana;
    }

    h2, dt {
        text-indent: 5px;
    }
</style>

<h2>Category Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to All Categories", "Index")
</p>
