﻿@model IEnumerable<TriviaCrack.Models.Category>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        @Html.Partial("CategoryPartial")
        <div class="col-md-10">
            <h2>Categories</h2>

            <p>
                @Html.ActionLink("Create New Category", "Create")
            </p>

            <table class="table" style="width: 80%;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
