﻿@model IEnumerable<TriviaCrack.Models.Category>

@{
    ViewBag.Title = "Index";
}

<style>
    * {
        font-family: Verdana;
    }

    h2, #createLink, #display {
        text-align: center;
    }
</style>

<h2>Categories</h2>

<p id="createLink">
    @Html.ActionLink("Create New Category", "Create")
</p>
<div id="display">
<table class="table" style="width: 100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
</div>