﻿
@{
    ViewBag.Title = "Bad Gateway";
}

<h2>The server was unable to receive a valid response.</h2>

@section scripts{
    <script>
        window.setTimeout(function () {
            window.location.href = '/Home/Index';
        }, 5000);
    </script>
}
