﻿
@{
    ViewBag.Title = "Bad Gateway";
}

<style>
    * {
        font-family: Verdana;
    }

    h2 {
        text-align: center;
    }
</style>

<h2>The server was unable to receive a valid response.</h2>

@section scripts{
    <script>
        window.setTimeout(function () {
            window.location.href = '/Home/Index';
        }, 5000);
    </script>
}
