﻿
@{
    ViewBag.Title = "Gateway Timeout";
}

<style>
    * {
        font-family: Verdana;
    }

    h2 {
        text-align: center;
    }
</style>

<h2>The request has timed out. Please check your connection and try again.</h2>

@section scripts{
    <script>
        window.setTimeout(function(){
            window.location.href='/Home/Index';
        }, 5000);
    </script>
}

