﻿
@{
    ViewBag.Title = "Internal Server Error";
}

<h2>An internal server error has occurred.</h2><br />
<h3>Please refrain from refreshing the page while in-game.</h3>

@section scripts{
    <script>
        window.setTimeout(function () {
            window.location.href = '/Home/Index';
        }, 5000);
    </script>
}

