﻿
@{
    ViewBag.Title = "Not Found";
}
<style>
    * {
        font-family: Verdana;
    }

    h2 {
        text-align: center;
    }
</style>

<h2>The specified page was not found.</h2>

@section scripts{
    <script>
        window.setTimeout(function () {
            window.location.href = '/Home/Index';
        }, 5000);
    </script>
}

