﻿
@{
    ViewBag.Title = "Service Unavailable";
}

<h2>The Server is overloaded or under maintenance. Please try again shortly.</h2>

@section scripts{
    <script>
        window.setTimeout(function () {
            window.location.href = '/Home/Index';
        }, 5000);
    </script>
}