﻿
@{
    ViewBag.Title = "Service Unavailable";
}

<style>
    *{
        font-family: Verdana;
    }

    h2 {
        text-align: center;
    }
</style>
<h2>The Server is overloaded or under maintenance. Please try again shortly.</h2>

@section scripts{
    <script>
        window.setTimeout(function () {
            window.location.href = '/Home/Index';
        }, 5000);
    </script>
}