﻿@{
    ViewBag.Title = "Coin Spinner";

    string[] videos = { "~/AdVideos/FunnyCats1.mp4", "~/AdVideos/FunnyCats2.mp4", "~/AdVideos/FunnyCats3.mp4" };
    int maxIndex = videos.Length - 1;
    var random = new Random();
    var index = random.Next(0, maxIndex);
}

<style>
    *{
        font-family: Verdana;
        text-align: center;
    }

    #spinner {
        position: relative;
        height: 225px;
        width: 225px;
        padding-left: 60px;
    }

    #spinner-button {
        cursor: pointer;
        z-index: 100;
        width: 20%;
        height: 20%;
        position: absolute;
        left: 40%;
        top: 40%;
        background-image: url(../../Images/custom_spinner.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        padding-left: 60px;
    }

    #spinner-wheel {
        height: inherit;
        width: inherit;
        z-index: 0;
        position: absolute;
        background-image: url(../../Images/Coins/coin_wheel.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<br />

<div id="spinner" style="display: none">
    <div id="spinner-wheel"></div>
    <div id="spinner-button"></div>
</div>
<br/>
<div>
<label id="coinsLabel" style="width: 200px; padding-top:500px; font-size: 18pt;">Coins: </label>
<div id="myWinNotification" style="padding-left: 70px; display: none; width: 200px;">
    <div>
        <h4>Congrats!!</h4>
    </div>
    <div>
        <p>You won some coins!</p>
    </div>
</div>
<div id="myZeroCoinsNotification" style="padding-left: 70px; display: none; width: 200px;">
    <div>
        <h4>Sorry</h4>
    </div>
    <div>
        <p>No coins this time, better luck next time.</p>
    </div>
</div>
<input type="button" value="Collect" id="collectButton" class="longSubmitButton" style="margin-right: 110px; margin-top: -15px; display: none; border-radius: 15px; font-size: 14pt; width: 120px; height: 40px; background-color: purple; color: white;" />
</div>
<br />
<div id="adPart" style="text-align: center;">
    <video id="ad" width="300" height="140" controls>
        @switch (@index)
        {
            case 0:
                <source src="~/AdVideos/FunnyCats1.mp4" type="video/mp4">
                break;
            case 1:
                <source src="~/AdVideos/FunnyCats2.mp4" type="video/mp4">
                break;
            case 2:
                <source src="~/AdVideos/FunnyCats3.mp4" type="video/mp4">
                break;
        }
        Your brower does not support the ad video, please try another browser or update to latest.
    </video>
    <a href="https://www.youtube.com/watch?v=yuNevlY-wng"><h4>Watch AFV on Youtube</h4></a>
</div>

@Styles.Render("~/Content/Spinner.css")
@section scripts{
    <script>
        var ad = document.getElementById("ad");
        ad.onended = function () {
            $('#ad').hide();
            $('#spinner').show();
        };
    </script>
    <script>
        app = {
            components: {}
        };

        var coinsEarned = 0;
        var hasSpun = false;
        app.components.Spinner = function (wheel, button, ops) {
            //set options and defaults
            ops = ops ? ops : {};
            var onStop = ops.onStop ? ops.onStop : function () { };
            var destination = ops.destination;
            var slices = ops.slices;
            var stopDegree = 0;

            function getCoinsEarned() {
                if (stopDegree <= 51) {

                    coinsEarned = 0;

                } else if (stopDegree <= 102 && stopDegree > 51) {

                    coinsEarned = 10;

                } else if (stopDegree <= 152 && stopDegree > 102) {

                    coinsEarned = 25;

                } else if (stopDegree <= 205 && stopDegree > 152) {

                    coinsEarned = 50;

                } else if (stopDegree <= 255 && stopDegree > 205) {

                    coinsEarned = 75;

                } else if (stopDegree <= 307 && stopDegree > 255) {

                    coinsEarned = 100;

                } else if (stopDegree <= 360 && stopDegree > 307) {

                    coinsEarned = 500;

                }
            };

            var clicker = new app.components.Wheel(button);
            var spinner = new app.components.Wheel(wheel, {
                timeout: 2000,
                onStop: function (degrees) {
                    clicker.rotate(0);
                    document.getElementById('coinsLabel').innerHTML = "Coins: " + coinsEarned;
                    if(coinsEarned > 0) {
                        $('#myWinNotification').show();
                        $('#myZeroCoinsNotification').hide();
                    } else {
                        $('#myZeroCoinsNotification').show();
                        $('#myWinNotification').hide();
                    }
                    showCollectButton();
                },
                onRotate: function (degrees) {
                    clicker.rotate((degrees % 360 % (slices * 2)) + (360 - slices));
                    stopDegree = degrees;
                    getCoinsEarned();
                }
            });

            this.reset = function () {
                spinner.rotate(0);
            };

            this.setDestination = function (degrees) {
                stopAt = degrees;
            };

            button.addEventListener("click", function () {
                if (!spinner.isAccelerating() && !spinner.isStopping()&& hasSpun == false) {
                    spinner.start();

                    window.setTimeout(function () {
                        spinner.stop(destination);
                    }, 4000);

                    hasSpun = true;
                }
            });

            this.clicker = clicker;
            this.spinner = spinner;
        };

        app.components.Wheel = function (target, ops) {
            //set options and defaults
            ops = ops ? ops : {};
            var timeout = ops.timeout;
            var acceleration = ops.accelerationDelay ? ops.accelerationDelay : 100;
            var onRotateListener = ops.onRotate ? ops.onRotate : function () { };
            var onStopListener = ops.onStop ? ops.onStop : function () { };
            var increment = ops.increment ? ops.increment : 1;
            var delay = ops.delay ? ops.delay : 10;

            var state = {
                accelerating: false,
                stopping: false,
                destination: null,
                degrees: 0
            };

            var intervals = {
                accelerater: null,
                decelerater: null,
                spinner: []
            };

            var rotate = function (deg) {
                target.style.webkitTransform = 'rotate(' + deg + 'deg)';
                target.style.mozTransform = 'rotate(' + deg + 'deg)';
                target.style.msTransform = 'rotate(' + deg + 'deg)';
                target.style.oTransform = 'rotate(' + deg + 'deg)';
                target.style.transform = 'rotate(' + deg + 'deg)';
                state.degrees = deg;
                onRotateListener.apply(this, [deg]);
            };

            var spin = function (speed) {
                intervals.spinner.push(window.setInterval(function () {
                    rotate((state.degrees + speed) % 360);

                    if (state.destination !== null && intervals.spinner.length == 1) {
                        if (state.degrees == state.destination) {
                            window.clearInterval(intervals.spinner.pop());
                            state.destination = null;
                            state.stopping = false;
                            onStopListener.apply(this, [state]);
                        }
                    }
                }, delay));
            };

            var accelerate = function () {
                state.accelerating = true;
                intervals.accelerater = window.setInterval(spin.bind(this, increment), acceleration);

                if (timeout > 0) {
                    window.setTimeout(function () {
                        window.clearInterval(intervals.accelerater);
                        state.accelerating = false;
                    }, timeout);
                }
            };

            var decelerate = function (to) {
                state.stopping = true;
                state.accelerating = false;
                window.clearInterval(intervals.accelerater);
                var slowDown = function () {
                    if (intervals.spinner.length > 1) {
                        window.clearInterval(intervals.spinner.pop());
                    } else {
                        window.clearInterval(intervals.decelerater);

                        if (to || to === 0) {
                            state.destination = to;
                        } else {
                            window.clearInterval(intervals.spinner.pop());
                            state.stopping = false;
                            onStopListener.apply(this, [state]);
                        }
                    }
                };

                intervals.decelerater = window.setInterval(slowDown, acceleration);
            };

            //expose
            this.isAccelerating = function () {
                return state.accelerating;
            };
            this.isStopping = function () {
                return state.stopping;
            };
            this.start = accelerate;
            this.stop = decelerate;
            this.rotate = rotate;
            this.spin = spin;

        };

        app.spinner = new app.components.Spinner(
            document.getElementById('spinner-wheel'),
            document.getElementById('spinner-button'), {
                slices: 7,
                onStop: function (state) {
                    console.log(state);
                }
            });

        function showCollectButton() {
            setTimeout(function () { $('#collectButton').show(); }, 2100);
        };

        $('#collectButton').click(function () {
            passCoinsToController(coinsEarned);
        });
    </script>
    <script>
        function passCoinsToController(coinsEarned) {
            $.ajax({
                url: "/Trivia/CollectCoins",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    coinsEarned: coinsEarned
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        };
    </script>
}