﻿@model TriviaCrack.ViewModels.ScoreInformation

@{
    ViewBag.Title = "GameScore";
}

<style>
    *{
        font-family: Verdana;
    }

    h2, h3 {
        text-indent: 5px;
    }

    th, p {
        text-align: center;
    }

    table {
        margin-left: 20px;
    }
</style>
<h2>Game Score</h2>
<p>These statistics represent the each player's performance in a perticular game.</p><br/>

<h3>Overall</h3>
<p>You: @Model.CategoriesCountLoggedIn</p>
<p>Opponent: @Model.CategoriesCountOpponent</p>
@if (@Model.CategoriesCountLoggedIn > @Model.CategoriesCountOpponent)
{
    <p>Congrats, you won!</p>
}
else if (@Model.CategoriesCountLoggedIn < @Model.CategoriesCountOpponent)
{
    <p>Sorry, you lost.</p>
}
else
{
    <p>Well, you tied.</p>
}
<br />

<h3>Categories</h3>
<table class="table">
    <tr>
        <th colspan="2">Category</th><th></th><th></th><th></th><th>You</th><th>Opponent</th>
    </tr>
    <tr>
        <th>
            <img src="~/Images/art_Icon.png" alt="Art Icon" width="66" height="66"/>
        </th>
        <th>Art</th><th></th><th></th><th></th>
        <th>@Model.ArtStatsLoggedIn %</th>
        <th>@Model.ArtStatsOpponent %</th>
    </tr>
    <tr>
        <th>
            <img src="~/Images/entertainment_Icon.png" alt="Entertainment Icon" width="65" height="65"/>
        </th>
        <th>Entertainment</th><th></th><th></th><th></th>
        <th>@Model.EntertainmentStatsLoggedIn %</th>
        <th>@Model.EntertainmentStatsOpponent %</th>
    </tr>
    <tr>
        <th>
            <img src="~/Images/geography_Icon.png" alt="Geography Icon" width="60" height="60" />
        </th>
        <th>Geography</th><th></th><th></th><th></th>
        <th>@Model.GeographyStatsLoggedIn %</th>
        <th>@Model.GeographyStatsOpponent %</th>
    </tr>
    <tr>
        <th>
            <img src="~/Images/history_Icon.png" alt="History Icon" width="60" height="60" />
        </th>
        <th>History</th><th></th><th></th><th></th>
        <th>@Model.HistoryStatsLoggedIn %</th>
        <th>@Model.HistoryStatsOpponent %</th>
    </tr>
    <tr>
        <th>
            <img src="~/Images/science_Icon.png" alt="Science Icon" width="60" height="60" />
        </th>
        <th>Science</th><th></th><th></th><th></th>
        <th>@Model.ScienceStatsLoggedIn %</th>
        <th>@Model.ScienceStatsOpponent %</th>
    </tr>
    <tr>
        <th>
            <img src="~/Images/sports_Icon.png" alt="Sports Icon" width="70" height="70" />
        </th>
        <th>Sports</th><th></th><th></th><th></th>
        <th>@Model.SportsStatsLoggedIn %</th>
        <th>@Model.SportsStatsOpponent %</th>
    </tr>
</table><br/>

<h3>Performance</h3>
<table class="table">
    <tr>
        <th colspan="2">Type</th><th></th><th></th><th></th><th>You</th><th>Opponent</th>
    </tr>
    <tr>
        <th><img src="~/Images/challenges_Icon.png" alt="Correct Icon" width="60" height="60" /></th>
        <th>Challenges</th>
        <th></th>
        <th></th>
        <th></th>
        <th>@Model.ChallengeStatsLoggedIn</th>
        <th>@Model.ChallengeStatsOpponent</th>
    </tr>
    <tr>
        <th><img src="~/Images/Crown_Icon.png" alt="Inorrect Icon" width="60" height="60" /></th>
        <th>Crowns</th>
        <th></th>
        <th></th>
        <th></th>
        <th>@Model.CrownStatsLoggedIn</th>
        <th>@Model.CrownStatsOpponent</th>
    </tr>
    <tr>
        <th><img src="~/Images/correct_Icon.png" alt="Correct Icon" width="60" height="60" /></th>
        <th>Correct</th>
        <th></th>
        <th></th>
        <th></th>
        <th>@Model.CorrectStatsLoggedIn</th>
        <th>@Model.CorrectStatsOpponent</th>
    </tr>
    <tr>
        <th><img src="~/Images/incorrect_Icon.png" alt="Inorrect Icon" width="60" height="60" /></th>
        <th>Incorrect</th>
        <th></th>
        <th></th>
        <th></th>
        <th>@Model.IncorrectStatsLoggedIn</th>
        <th>@Model.IncorrectStatsOpponent</th>
    </tr>
    <tr>
        <th><img src="~/Images/answered_Icon.png" alt="Answered Icon" width="60" height="60" /></th>
        <th>Answered</th>
        <th></th>
        <th></th>
        <th></th>
        <th>@Model.AnsweredStatsLoggedIn</th>
        <th>@Model.AnsweredStatsOpponent</th>
    </tr>
</table>