﻿@{
    ViewBag.Title = "Create New Game";
}
<br /><br />
<div class="row">
    <div class="col-sm-2">
        <label><input type='radio' name="a" id="randomRadioButton">  Random Opponent</label>
    </div>
    <div class="col-md-4">
        <label><input type='radio' name="a" id="searchRadioButton">  Search for Friend</label>
    </div>
    <div class="col-md-4">
        <img src="~/Images/Ads/box_ad.jpg" alt="AppRight ad"/>
    </div>
</div>
<br /><br />

<div class="row">
    <div class="col-sm-1">
        <h3 id="userSearchLabel"></h3>
    </div>
    <div class="col-md-4">
        <input type="text" id="userSearchTextBox" style="margin-top:24px; width: 500px;" list="searchList">
        <datalist id="searchList"></datalist>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-4">
        <p>
            <input type="button" value="Start New Game" id="newGameButton" class="btn btn-default" />
        </p>
    </div>
</div>
@section scripts{
    <script>
        var allUsers = @Html.Raw(Json.Encode(@ViewBag.UserNames));
        var searchList = document.getElementById('searchList');

        allUsers.forEach(function (item) {
            var option = document.createElement('option');
            option.value = item;
            searchList.appendChild(option);
        });
    </script>
    <script type="text/javascript">
        $('#userSearchTextBox').hide();
        $('#newGameButton').click(function () {
            var opponentName = "";
            if (!document.getElementById('searchRadioButton').checked && !document.getElementById('randomRadioButton').checked) {
                alert('Please select an opponent option.')
                return;
            }
            if (document.getElementById('searchRadioButton').checked) {
                var name = document.getElementById('userSearchTextBox').value;
                if (name == "@ViewBag.Player1UserName") {
                    alert('You may not create a game against yourself!');
                }
                else if (allUsers.indexOf(name) > -1) {
                    opponentName = name;
                }
                else {
                    alert('No user found. Please re-check the user search field.');
                }
            }
            else if (document.getElementById('randomRadioButton').checked) {
                var randomIndex = Math.floor(Math.random() * allUsers.length);
                opponentName = allUsers[randomIndex];
            }

            passGameInformationToController(opponentName);
        });

        $('input[type="radio"]').on('click change', function (e) {
            if (document.getElementById('searchRadioButton').checked) {
                document.getElementById('userSearchLabel').innerHTML = 'Search:';
                $('#userSearchTextBox').show();
            }
            else if (document.getElementById('randomRadioButton').checked) {
                document.getElementById('userSearchLabel').innerHTML = '';
                $('#userSearchTextBox').hide();
            }
        });

        function passGameInformationToController(name) {
            $.ajax({
                url: "/Trivia/Start",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    friendName: name
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        }
    </script>
}
