﻿@using TriviaCrack.Models
@model TriviaCrack.ViewModels.GameInformation
@{ 
    var playerCoins = @Model.Player.Coins;
}

<style>
    * {
        font-family: Verdana;
    }

    table {
        text-align: center;
        margin-left: 50px;
    }

    button {
        border-radius: 15px;
        background-color: dodgerblue;
        color: white;
    }
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<p></p>
<audio autoplay="autoplay" src="..\SoundEffects\Question Appears.wav" type="audio/wav"></audio>
<audio id="correctanswer" src="..\SoundEffects\Correct.wav" type="audio/wav"></audio>
<audio id="incorrectanswer" src="..\SoundEffects\Incorrect.wav" type="audio/wav"></audio>
<audio id="timeup" src="..\SoundEffects\Time Up.wav" type="audio/wav"></audio>
<audio id="bombpowerup" src="..\SoundEffects\Bomb Powerup.wav" type="audio/wav"></audio>
<audio id="answerpowerup" src="..\SoundEffects\Double Chance Powerup.wav" type="audio/wav"></audio>
<audio id="timepowerup" src="..\SoundEffects\Time Powerup.wav" type="audio/wav"></audio>
<audio id="nocoins" src="..\SoundEffects\No Coins.wav" type="audio/wav"></audio>
<div style="margin-left: 20px; padding-left: 15px; width: 90%; border:1px solid #cecece;">
    <div class="container-fluid" style="margin-bottom:0px; width: 95%; padding-bottom:4px; background-color:lightgrey">
        <div class="container text-center">
            <h2 style="margin-bottom:2px">@Model.Question.Text</h2>
            <h4><em>@Model.Question.Category.Description</em></h4>
            <h4><em>@Model.Question.Difficulty</em></h4>
        </div>
    </div>
    <div class="container-fluid bg-3 text-center">
        <h2 id="timerCountdown">20</h2><br />
        <center>
            <input type="button" value="@Model.Question.AnswerChoice1.Text" id="answerChoice1Button" class="btn btn-lg" />
        </center>
        <br/>
        <center>  
            <input type="button" value="@Model.Question.AnswerChoice2.Text" id="answerChoice2Button" class="btn btn-lg" />
        </center>
        <br/>
        <center>    
            <input type="button" value="@Model.Question.AnswerChoice3.Text" id="answerChoice3Button" class="btn btn-lg" />      
        </center>
        <br/>
        <center>
            <input type="button" value="@Model.Question.AnswerChoice4.Text" id="answerChoice4Button" class="btn btn-lg" />    
        </center>
    </div>
    <table class="container-fluid text-center" id="powerUpPart">
        <tr>
            <td>
                <h2>Power Ups</h2>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
                <label id="coinsLabel" style="font-size: 16pt">@playerCoins</label>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
                <label style="font-size: 16pt">@Model.ExtraTime.Cost</label>
                <button class="powerBtn" id="extraTimeButton"><i class="fa fa-clock-o"></i> @Model.ExtraTime.Name</button><br />
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
                <label style="font-size: 16pt">@Model.Bomb.Cost </label>
                <button class="powerBtn" id="bombButton"><i class="fa fa-bomb"></i> @Model.Bomb.Name</button><br />
            </td>
        </tr>
        <tr>
            <td>

                <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
                <label style="font-size: 16pt">@Model.AutoCorrect.Cost </label>
                <button class="powerBtn" id="autoCorrectButton"><i class="fa fa-check"></i> @Model.AutoCorrect.Name</button><br />
            </td>
        </tr>
    </table>
    <p></p><br /><br />
    <div class="progress" style="width: 90%; margin-left: 5px;">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="100" style="width:0%" id="streakProgressBar">
        </div>
    </div>
</div>

<div class="form-group">
    <center><h4 id="resultCaption"></h4></center>
    <center><input type="button" id="correctResultButton" value="Continue" class="btn btn-default" /></center>
    <center><input type="button" id="incorrectResultButton" value="Back to Main Menu" class="btn btn-default" /></center>
    <center><input type="button" id="endgameButton" value="Back to Main Menu" class="btn btn-default" /></center>
    <center>
        <input type="button" id="crownButton" value="Move to Crown Question" class="btn btn-default" />
        <input type="button" id="challengeOpponentButton" value="Challenge Opponent" class="btn btn-default" />
    </center>
</div>
<div id="watchAdPart" style="display: none; text-align: center;">
    <br />
    <h4>Watch ad for the chance to earn Coins</h4>
    <input type="button" id="earnCoinsButton" value="Earn Coins" style="border-radius: 15px; font-size: 14pt; width: 120px; height: 40px; background-color: purple; color: white;"/>
    <br />
</div>
<div class="ratingPart">
    <center><h2 id="ratingCaption" style="display:none">Wanna rate this question??</h2></center>
    <center>
        <input type="button" id="boringRatingButton" value="Boring?" class="btn btn-primary" />
        <input type="button" id="funRatingButton" value="Fun?" class="btn btn-primary" />
    </center>
</div>
@Html.Hidden("FunCount", Model.Question.FunRatingCount)
@Html.Hidden("BoringCount", Model.Question.BoringRatingCount)
@Styles.Render("~/Content/css")
@section scripts{
@*Power Up Handlers*@
<script>
        $('#extraTimeButton').click(function () { buyExtraTimePowerUp(); });
        function buyExtraTimePowerUp() {
            if (@playerCoins - @Model.ExtraTime.Cost >= 0) {
                var timepowerup = document.getElementById('timepowerup');
                timepowerup.play();
                document.getElementById('timerCountdown').innerHTML = timeRemaining;
                timeRemaining += 15;
                hidePowerUps();
                passCoinsToRemoveToTriviaController(@Model.ExtraTime.Cost);
            } else {
                var nocoins = document.getElementById('nocoins');
                nocoins.play();
            }
        };

        $('#bombButton').click(function () { buyBombPowerUp(); });
        function buyBombPowerUp() {
            if (@playerCoins - @Model.Bomb.Cost >= 0) {
                var bombpowerup = document.getElementById('bombpowerup');
                bombpowerup.play();
                var correct = @Model.Question.CorrectAnswer.Id;
                if (@Model.Question.AnswerChoice1.Id === correct || @Model.Question.AnswerChoice2.Id === correct) {
                    $('#answerChoice3Button').hide();
                    $('#answerChoice4Button').hide();
                } else {
                    $('#answerChoice1Button').hide();
                    $('#answerChoice2Button').hide();
                }
                hidePowerUps();
                passCoinsToRemoveToTriviaController(@Model.Bomb.Cost);
            } else {
                var nocoins = document.getElementById('nocoins');
                nocoins.play();
            }
        };

        $('#autoCorrectButton').click(function () { buyAutoCorrectPowerUp(); });
        function buyAutoCorrectPowerUp() {
            if (@playerCoins - @Model.AutoCorrect.Cost >= 0) {
                checkIfAnswerChoiceIsCorrect(@Model.Question.CorrectAnswer.Id);
                passCoinsToRemoveToTriviaController(@Model.AutoCorrect.Cost);
                hidePowerUps();
            } else {
                var nocoins = document.getElementById('nocoins');
                nocoins.play();
            }
        };

        function hidePowerUps() {
            $('#powerUpPart').hide();
        };

        function passCoinsToRemoveToTriviaController(coins) {
            $.ajax({
                url: "/Trivia/RemoveCoins",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    coinsToRemove: coins
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        };
</script>
    <script>
            var timerRunning;
            $(document).ready(function () {

                if ("@Model.IsCrownQuestion" == "False") {
                    updateProgressBar(@Model.PlayerStreak);
                }

                $('#correctResultButton').hide();
                $('#incorrectResultButton').hide();
                $('#endgameButton').hide();
                $('#crownButton').hide();
                $('#challengeOpponentButton').hide();
                $('#boringRatingButton').hide();
                $('#funRatingButton').hide();
                $('#ratingCaption').hide();
                $('#watchAdPart').hide();

                timerRunning = true;
                var timeRemaining = 20;
                var timer;

            function showTimeRemaining() {
                if (timerRunning == false) {
                    clearInterval(timer);
                    return;
                }
                if (timeRemaining < 0) {
                    var timeupsound = document.getElementById('timeup');
                    timeupsound.play();
                    clearInterval(timer);
                    document.getElementById('timerCountdown').innerHTML = 'Times up!';
                    checkIfAnswerChoiceIsCorrect(-1);
                    hidePowerUps();
                    return;
                }
                document.getElementById('timerCountdown').innerHTML = timeRemaining;
                timeRemaining -= 1;
            }

                clearInterval(timer);
                timer = setInterval(showTimeRemaining, 1000);
            });
</script>
@*Answer Button Handlers*@
<script>
        var answerSelected = false;
        var answerCorrect = false;

        $('#answerChoice1Button').click(function() { checkIfAnswerChoiceIsCorrect(@Model.Question.AnswerChoice1.Id); });
        $('#answerChoice2Button').click(function() { checkIfAnswerChoiceIsCorrect(@Model.Question.AnswerChoice2.Id); });
        $('#answerChoice3Button').click(function() { checkIfAnswerChoiceIsCorrect(@Model.Question.AnswerChoice3.Id); });
        $('#answerChoice4Button').click(function() { checkIfAnswerChoiceIsCorrect(@Model.Question.AnswerChoice4.Id); });

        function stopTimer() {
            timerRunning = false;
        }

        function checkIfAnswerChoiceIsCorrect(answerId) {
            if (answerSelected) {
                return;
            }
            answerSelected = true;
            changeButtonColorsToRed();
            stopTimer();

            if (@Model.Question.CorrectAnswer.Id == answerId) {
                var correctans = document.getElementById('correctanswer');
                correctans.play();
                showCorrectAnswerMessage();
                answerCorrect = true;
                showRatingMessage();
                if ("@Model.IsCrownQuestion" == "False") {
                    passAnswerResultToTriviaController(@Model.Game.Id, "/Trivia/CorrectAnswer", "Regular");
                }
            } else {
                var incorrectans = document.getElementById('incorrectanswer');
                incorrectans.play();
                showIncorrectAnswerMessage();
                answerCorrect = false;
                showRatingMessage();
                passAnswerResultToTriviaController(@Model.Game.Id, "/Trivia/IncorrectAnswer", "Regular");
            }
            changeCorrectAnswerButtonToGreen();
            hidePowerUps();
        }

        $('#correctResultButton').click(function() { window.location.href = '/Trivia/Next/'; });
        $('#incorrectResultButton').click(function () { window.location.href = '/Home/Index/'; });
        $('#crownButton').click(function () { passAnswerResultToTriviaController(@Model.Game.Id, "/Trivia/SelectCategory/", "Crown")});
        $('#challengeOpponentButton').click(function () { passAnswerResultToTriviaController(@Model.Game.Id, "/Trivia/SelectCategory/", "Challenge") });
        $('#endgameButton').click(function () { window.location.href = '/Home/Index/'; });
        $('#earnCoinsButton').click(function () { window.location.href = '/Trivia/CoinSpinner/' });

        function passAnswerResultToTriviaController(id, controllerURL, questionType) {
            $.ajax({
                url: controllerURL,
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    gameId: id,
                    questionType: questionType
                }),
                async: false,
                success: function(result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        }

        function changeButtonColorsToRed() {
            $(".btn").each(function() {
                if ($(this).attr('id') != 'correctResultButton' &&
                    $(this).attr('id') != 'incorrectResultButton' &&
                    $(this).attr('id') != 'boringRatingButton' &&
                    $(this).attr('id') != 'funRatingButton' &&
                    $(this).attr('id') != 'crownButton' &&
                    $(this).attr('id') != 'challengeOpponentButton' &&
                    $(this).attr('id') != 'endgameButton') {
                    $(this).removeClass("btn btn-lg").addClass("btn btn-danger btn-lg");
                }
            })
        }

        function changeCorrectAnswerButtonToGreen() {
            if (@Model.Question.CorrectAnswer.Id == @Model.Question.AnswerChoice1.Id) {
                $('#answerChoice1Button').removeClass("btn btn-danger btn-lg").addClass("btn btn-success btn-lg");
            } else if (@Model.Question.CorrectAnswer.Id == @Model.Question.AnswerChoice2.Id) {
                $('#answerChoice2Button').removeClass("btn btn-danger btn-lg").addClass("btn btn-success btn-lg");
            } else if (@Model.Question.CorrectAnswer.Id == @Model.Question.AnswerChoice3.Id) {
                $('#answerChoice3Button').removeClass("btn btn-danger btn-lg").addClass("btn btn-success btn-lg");
            }
            else if (@Model.Question.CorrectAnswer.Id == @Model.Question.AnswerChoice4.Id) {
                $('#answerChoice4Button').removeClass("btn btn-danger btn-lg").addClass("btn btn-success btn-lg");
            }
        }

        function showCorrectAnswerMessage() {
            var categoryAvailable = "@Model.OpponentHasCategoryToSteal";
            var loggedInPlayerHasCategory = "@Model.PlayerHasCategory";

            if ("@Model.IsCrownQuestion" == "True") {
                if (@Model.CategoryCount >= 5) {
                    $('#correctResultButton').hide();
                    $('#endgameButton').show();
                    document.getElementById('resultCaption').innerHTML =
                        'Correct! You have collected @Model.Question.Category.Description. You have collected all categories, you have won the game.'
                    addCategoryToPlayer(@Model.Game.Id, "@Model.Question.Category.Description")
                } else {
                    document.getElementById('resultCaption').innerHTML =
                        'Correct! You have collected @Model.Question.Category.Description'
                    addCategoryToPlayer(@Model.Game.Id, "@Model.Question.Category.Description")
                    $('#correctResultButton').show();
                }
            }
            else {
                var myStreak = @Model.PlayerStreak + 1;
                updateProgressBar(myStreak);
                if (myStreak >= 3) {
                    $('#correctResultButton').hide();
                    if (categoryAvailable == "True" && loggedInPlayerHasCategory == "True") {
                        $('#challengeOpponentButton').show();
                        document.getElementById('resultCaption').innerHTML =
                            'You have answered 3 questions in a row! Select move to crown or challenge opponent to continue.'
                    }
                    else {
                        document.getElementById('resultCaption').innerHTML =
                            'You have answered 3 questions in a row! Select move to crown question to continue.'
                    }
                    $('#crownButton').show();

                } else {
                    $('#correctResultButton').show();
                    document.getElementById('resultCaption').innerHTML = 'Correct! Great job!'
                    myStreak = @Model.PlayerStreak + 1;
                }
            }

        }

        function updateProgressBar(barWidth) {
            if (barWidth >= 3) {
                progressWidth = 100;
            }
            else {
                progressWidth = barWidth * 33.3;
            }
            $('#streakProgressBar').css("width", progressWidth + "%");
        };

        function addCategoryToPlayer(id, categoryToCollect) {
            $.ajax({
                url: '/Trivia/CollectCategory',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    gameId: id,
                    category: categoryToCollect
                }),
                async: false,
                success: function(result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        }

        function swapCategoryBetweenPlayers(id, categoryToCollect) {
            $.ajax({
                url: '/Trivia/SwapCategory',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    gameId: id,
                    category: categoryToCollect
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        }

        function showIncorrectAnswerMessage() {
            document.getElementById('resultCaption').innerHTML = 'Sorry, that is incorrect.';
            $('#incorrectResultButton').show();
            $('#watchAdPart').show();
        }
</script>
@*Rating Questions*@
<script>
        var modelID = @Html.Raw(Model.Question.Id);
        $('#boringRatingButton').click(function() { redirectAfterRatingQuestion("boring"); })
        $('#funRatingButton').click(function() { redirectAfterRatingQuestion("fun"); })

        function redirectAfterRatingQuestion() {
            updateCount();
            if (!answerCorrect) {
                window.location.href = "@Url.Action("Index", "Home")";
            } else {
                window.location.href = '/Trivia/Next/';
            }
        }

        function showRatingMessage() {
            $('#boringRatingButton').show();
            $('#funRatingButton').show();
            $('#ratingCaption').show();
        }


        function updateCount(count) {
            $.ajax({
                url: "/Trivia/UpdateCount",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    questionID: modelID,
                    countName: count
                }),
                async: false,
                success: function(result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        }
</script>
}
