﻿@using TriviaCrack.ViewModels
@model TriviaCrack.Models.CategoriesCollected
@{
    ViewBag.Title = "Select Category";
    var gameId = (int)ViewData["GameId"];
    var playerCategories = (PlayerCategories)ViewData["PlayerCategories"];
    var questionType = (string)ViewData["QuestionType"];
}

<style>
    *{
        font-family: Verdana;   
    }

    h2, h3 {
        margin-left: 10px;
    }

    input, label {
        margin-left: 70px;
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
@if (questionType == "Challenge")
{
    <div class="container-fluid" style="border:1px solid #cecece;">
        <div class="d-flex align-items-center" style="margin-top:10px; margin-left: 10px;">
            <div class="container text-center">
                <h3>Please choose the Category you would like to bet:</h3>
                @if (playerCategories.LoggedInPlayerCategories.ArtCollected == true)
                {
                    <label class="radio-inline"><input type="radio" value="Art" name="loggedInPlayerRadioButtons" id="loggedInPlayerArtRadioButton"/>Art</label>
                }
                @if (playerCategories.LoggedInPlayerCategories.EntertainmentCollected == true)
                {
                    <label class="radio-inline"><input type="radio" value="Entertainment" name="loggedInPlayerRadioButtons" id="loggedInPlayerEntertainmentRadioButton"/>Entertainment</label>
                }
                @if (playerCategories.LoggedInPlayerCategories.SportsCollected == true)
                {
                    <label class="radio-inline"><input type="radio" value="Sports" name="loggedInPlayerRadioButtons" id="loggedInPlayerSportsRadioButton"/>Sports</label>
                }
                @if (playerCategories.LoggedInPlayerCategories.GeographyCollected == true)
                {
                    <label class="radio-inline"><input type="radio" value="Geography" name="loggedInPlayerRadioButtons" id="loggedInPlayerGeographyRadioButton"/>Geography</label>
                }
                @if (playerCategories.LoggedInPlayerCategories.HistoryCollected == true)
                {
                    <label class="radio-inline"><input type="radio" value="History" name="loggedInPlayerRadioButtons" id="loggedInPlayerHistoryRadioButton"/>History</label>
                }
                @if (playerCategories.LoggedInPlayerCategories.ScienceCollected == true)
                {
                    <label class="radio-inline"><input type="radio" value ="Science" name="loggedInPlayerRadioButtons" id="loggedInPlayerScienceRadioButton"/>Science</label>
                }
                <p></p><p></p><br />
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="container text-center">
                <h3>Please choose the Category you would like to steal from your Opponent:</h3>
                @if (playerCategories.OpponentCategories.ArtCollected == true)
                {
                    <label class="radio-inline"><input type="radio" value="Art" name="opponentRadioButtons" />Art</label>
                }
                @if (playerCategories.OpponentCategories.EntertainmentCollected == true)
                {
                    <label class="radio-inline"><input type="radio" value="Entertainment" name="opponentRadioButtons" />Entertainment</label>
                }
                @if (playerCategories.OpponentCategories.SportsCollected == true)
                {
                    <label class="radio-inline"><input type="radio" value="Sports" name="opponentRadioButtons" />Sports</label>
                }
                @if (playerCategories.OpponentCategories.GeographyCollected == true)
                {
                    <label class="radio-inline"><input type="radio" value="Geography" name="opponentRadioButtons" />Geography</label>
                }
                @if (playerCategories.OpponentCategories.HistoryCollected == true)
                {
                    <label class="radio-inline"><input type="radio" value="History" name="opponentRadioButtons" />History</label>
                }
                @if (playerCategories.OpponentCategories.ScienceCollected == true)
                {
                    <label class="radio-inline"><input type="radio" value="Science" name="opponentRadioButtons" />Science</label>
                }
                <p></p><p></p><br />
                <input type="button" value="Start Challenge" id="startChallengeButton" class="btn btn-default" /><p></p><p></p><br />
            </div>
        </div>

    </div>
}

@if (questionType == "Crown")
{
    <div class="container-fluid" style="border:1px solid #cecece;">
        <div class="jumbotron align-items-center">
            <div class="container text-center">
                <h2>Please choose a Category below:</h2>
            </div>
        </div>

        <div class="d-flex align-items-center">
            <div class="container text-center">
                @if (playerCategories.LoggedInPlayerCategories.ArtCollected == false)
                {
                    <input type="button" value="Art" id="crownArtButton" class="btn btn-default" style="width: 200px; height: 50px; font-size: 25px" /><br /><br /> 
                }
                @if (playerCategories.LoggedInPlayerCategories.EntertainmentCollected == false)
                {
                    <input type="button" value="Entertainment" id="crownEntertainmentButton" class="btn btn-default" style="width: 200px; height: 50px; font-size: 25px" /><br /><br />
                }
                @if (playerCategories.LoggedInPlayerCategories.SportsCollected == false)
                {
                    <input type="button" value="Sports" id="crownSportsButton" class="btn btn-default" style="width: 200px; height: 50px; font-size: 25px" /><br /><br />
                }
                @if (playerCategories.LoggedInPlayerCategories.GeographyCollected == false)
                {
                    <input type="button" value="Geography" id="crownGeographyButton" class="btn btn-default" style="width: 200px; height: 50px; font-size: 25px" /><br /><br />
                }
                @if (playerCategories.LoggedInPlayerCategories.HistoryCollected == false)
                {
                    <input type="button" value="History" id="crownHistoryButton" class="btn btn-default" style="width: 200px; height: 50px; font-size: 25px" /><br /><br />
                }
                @if (playerCategories.LoggedInPlayerCategories.ScienceCollected == false)
                {
                    <input type="button" value="Science" id="crownScienceButton" class="btn btn-default" style="width: 200px; height: 50px; font-size: 25px" /><br />
                }
                <p></p><p></p><br />
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
$(document).ready(function () {
    function passCategoryToController(category, id, crown) {
            $.ajax({
                url: "/Trivia/Question",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    categoryName: category,
                    gameId: id,
                    isCrownQuestion: crown
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        }

        function startClassicChallenge(category, id, betCategory) {
            $.ajax({
                url: "/ClassicChallenge/StartNewClassicChallenge",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    categoryToSteal: category,
                    gameId: id,
                    categoryToBet: betCategory
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        }

        $('#crownArtButton').click(function () { passCategoryToController("Art", @gameId, "True"); });
        $('#crownEntertainmentButton').click(function () { passCategoryToController("Entertainment", @gameId, "True"); });
        $('#crownSportsButton').click(function () { passCategoryToController("Sports", @gameId, "True"); });
        $('#crownHistoryButton').click(function () { passCategoryToController("History", @gameId, "True"); });
        $('#crownGeographyButton').click(function () { passCategoryToController("Geography", @gameId, "True"); });
        $('#crownScienceButton').click(function () { passCategoryToController("Science", @gameId, "True"); });
        $('#startChallengeButton').click(function () {
            var errorMessage = "";
            var loggedInPlayerCategoryRadioButtons = document.getElementsByName('loggedInPlayerRadioButtons');
            var selectedBetCategory = "";
            var betCategoryChecked = false;

            for (var i = 0; i < loggedInPlayerCategoryRadioButtons.length; i++) {
                if (loggedInPlayerCategoryRadioButtons[i].checked) {
                    betCategoryChecked = true;
                    selectedBetCategory = loggedInPlayerCategoryRadioButtons[i].value;
                }
            }
            if (betCategoryChecked == false) {
                errorMessage = errorMessage + "You must select a category to bet!\n";
            }

            var opponentCategoryRadioButtons = document.getElementsByName('opponentRadioButtons');
            var categoryToSteal = "";
            var categoryToStealChecked = false;

            for (var i = 0; i < opponentCategoryRadioButtons.length; i++) {
                if (opponentCategoryRadioButtons[i].checked) {
                    categoryToStealChecked = true;
                    categoryToSteal = opponentCategoryRadioButtons[i].value;
                }
            }
            if (categoryToStealChecked == false) {
                errorMessage = errorMessage + "You must select a category to steal!";
            }

            if (errorMessage != "") {
                alert(errorMessage);
                return;
            }
            else {
                startClassicChallenge(categoryToSteal, @gameId, selectedBetCategory);
                return;
            }
        });
    });
    </script>
}

