﻿@using TriviaCrack.ViewModels
@model TriviaCrack.ViewModels.PlayerCategories
@{
    ViewBag.Title = "Spinner";
    var gameId = @Html.Raw(ViewBag.GameId);
    var playerCategories = (PlayerCategories)ViewData["PlayerCategories"];
    var streak = (int)ViewData["streak"];
    var level = (int)ViewData["level"];
    var leveledup = ViewData["leveledup"].ToString().ToLower();
    var loggedInPlayerHasCategory = (string)ViewData["LoggedInPlayerHasCategory"];
    var opponentHasCategory = (string)ViewData["OpponentHasCategory"];
    var gameround = (int)ViewData["GameRound"];
}

<style>
    * {
        font-family: Verdana;
    }

    h2, h4, dt, p {
        text-indent: 5px;
    }

    #spinner {
        position: relative;
        height: 225px;
        width: 225px;
        padding-left: 60px;
    }

    #spinner-button {
        cursor: pointer;
        z-index: 100;
        width: 20%;
        height: 20%;
        position: absolute;
        left: 40%;
        top: 40%;
        background-image: url(../../Images/custom_spinner.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        padding-left: 60px;
    }

    #spinner-wheel {
        height: inherit;
        width: inherit;
        z-index: 0;
        position: absolute;
        background-image: url(../../Images/custom_wheel.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 101;
        padding-top: 50px;
        left: 18px;
        top: 50px;
        width: 90%;
        height: 70%;
        overflow: hidden;
        background-color: rgb(0,0,0);
    }

    .modal-content {
        margin: auto;
        padding-top: 50px;
        display: block;
        width: 200px;
        max-width: 700px;
        height: 200px;
        background-color: transparent;
        border: hidden;
    }

    #modalCaption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;        
        color: #ccc;
        padding: 10px 15px;
        height: 150px;
        font-size: 14pt;
        font-weight: bold;
        text-align: center;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        opacity: 1;
    }

    .close:focus {
        color: #f1f1f1;
        cursor: pointer;    
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<br />

<audio id="levelup" src="..\SoundEffects\Level Up.wav" type="audio/wav"></audio>
<audio id="spinnersound" src="..\SoundEffects\Spinner.wav" type="audio/wav"></audio>

<div class="form-group">
    <center><h3 id="round"></h3></center>
</div>

<div id="spinner">
    <div id="spinner-wheel"></div>
    <div id="spinner-button"></div>
</div>
<div>
    <input type="button" value="Play" id="playButton" class="longSubmitButton" style="margin-top: 0; margin-right: 110px; border-radius: 15px; font-size: 14pt; width: 120px; height: 40px; background-color: purple; color: white; display:none" />
</div>
<div id="myNotification" class="modal">
    <span class="close">×</span>
    <div class="modal-content">
    <img src="~/Images/levelup_ribbon.png" alt="Level Up Ribbon" height="160" width="120" style="float:left; margin-left: 40px">
    </div>
    <p id="modalCaption">Congrats!! You leveled up! You are now level @level!</p>
</div>
<br/>
<table style="width: 100%; table-layout: fixed; text-align: center">
    <tr>
        <td>
            <ul style="display:inline; letter-spacing: 3em; list-style: none;">
                <li style="display:inline; letter-spacing: normal"><h3>Your Collected Categories:</h3></li>
                @if (playerCategories.LoggedInPlayerCategories.ArtCollected)
                {
                    <li style="display:inline; letter-spacing: normal;"><img height="60" width="60" src="~/Images/art_Icon.png" /></li>
                }
                else
                {
                    <li style="display:inline; letter-spacing: normal;"><img height="60" width="60" src="~/Images/art_Icon_Silhouette.png" /></li>
                }
                @if (playerCategories.LoggedInPlayerCategories.EntertainmentCollected)
                {
                    <li style="display:inline; letter-spacing: normal;"><img height="60" width="60" src="~/Images/entertainment_Icon.png" /></li>
                }
                else
                {
                    <li style="display:inline; letter-spacing: normal;"><img height="60" width="60" src="~/Images/entertainment_Icon_Silhouette.png" /></li>
                }
                @if (playerCategories.LoggedInPlayerCategories.SportsCollected)
                {
                    <li style="display:inline; letter-spacing: normal"><img height="70" width="70" src="~/Images/sports_Icon.png" /></li>
                }
                else
                {
                    <li style="display:inline; letter-spacing: normal"><img height="70" width="70" src="~/Images/sports_Icon_Silhouette.png" /></li>
                }
                </ul>
        </td>
        </tr>
        <tr>
        <td>
            <ul style="margin-left: -43px; display:block; letter-spacing: 3em; list-style: none;">
            @if (playerCategories.LoggedInPlayerCategories.GeographyCollected)
            {
                <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/geography_Icon.png" /></li>
            }
            else
            {
                <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/geography_Icon_Silhouette.png"/></li>
            }
            @if (playerCategories.LoggedInPlayerCategories.HistoryCollected)
            {
                <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/history_Icon.png" /></li>
            }
            else
            {
                <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/history_Icon_Silhouette.png" /></li>
            }
            @if (playerCategories.LoggedInPlayerCategories.ScienceCollected)
            {
                <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/science_Icon.png" /></li>
            }
            else
            {
                <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/science_Icon_Silhouette.png" /></li>
            }
            </ul>
        </td>
    </tr>

    <tr>
        <td>
            <ul style="display:inline; letter-spacing: 3em; list-style: none;">
                <li style="display:inline; letter-spacing: normal"><h3>Opponent's Collected Categories:</h3></li>
                @if (playerCategories.OpponentCategories.ArtCollected)
                {
                    <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/art_Icon.png" /></li>
                }
                else
                {
                    <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/art_Icon_Silhouette.png" /></li>
                }
                @if (playerCategories.OpponentCategories.EntertainmentCollected)
                {
                    <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/entertainment_Icon.png" /></li>
                }
                else
                {
                    <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/entertainment_Icon_Silhouette.png" /></li>
                }
                @if (playerCategories.OpponentCategories.SportsCollected)
                {
                    <li style="display:inline; letter-spacing: normal"><img height="70" width="70" src="~/Images/sports_Icon.png" /></li>
                }
                else
                {
                    <li style="display:inline; letter-spacing: normal"><img height="70" width="70" src="~/Images/sports_Icon_Silhouette.png" /></li>
                }
                </ul>
        </td>
        </tr>
        <tr>
        <td>
            <ul style="margin-left: -43px; display:block; letter-spacing: 3em; list-style: none;">
            @if (playerCategories.OpponentCategories.GeographyCollected)
            {
                <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/geography_Icon.png" /></li>
            }
            else
            {
                <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/geography_Icon_Silhouette.png" /></li>
            }
            @if (playerCategories.OpponentCategories.HistoryCollected)
            {
                <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/history_Icon.png" /></li>
            }
            else
            {
                <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/history_Icon_Silhouette.png" /></li>
            }
            @if (playerCategories.OpponentCategories.ScienceCollected)
            {
                <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/science_Icon.png" /></li>
            }
            else
            {
                <li style="display:inline; letter-spacing: normal"><img height="60" width="60" src="~/Images/science_Icon_Silhouette.png" /></li>
            }
            </ul>
        </td>
    </tr>

</table>

<br />
<div class="form-group" id="selectCategoryGroup" style="display:none">
    <center><h2>Congrats, you have a streak of 3!</h2></center><br /> <br />
    <center>
        <input type="button" id="crownButton" value="Move to Crown Question" class="btn btn-default" />
        @if (loggedInPlayerHasCategory == "True" && opponentHasCategory == "True")
        {
            <input type="button" id="challengeOpponentButton" value="Challenge Opponent" class="btn btn-default" />
        }
    </center>
</div>
<br/>
<br/>
@Styles.Render("~/Content/Spinner.css")
@section scripts{
    <script>
        document.getElementById('round').innerHTML = "Round: " + @gameround + "/5";
        var leveled = @leveledup.ToLower();
        var modal = document.getElementById('myNotification');
        if (leveled) {
            $('#myNotification').show();
            var levelupsound = document.getElementById('levelup');
            levelupsound.play();
            var span = document.getElementsByClassName("close")[0];

            span.onclick = function () {
                modal.style.display = "none";
            }
        } else {
            $('#myNotification').hide();
        }
    </script>
    <script>
        app = {
            components: {}
        };

        document.getElementById('round').innerHTML = "Round: " + @gameround + "/5";
        if (@streak >= 3)
        {
            $('#selectCategoryGroup').show();
            $('#spinner').hide();
        }
        else {
            $('#spinner').show();
            $('#loggedInPlayerCategoriesCollected').show();
            $('#opponentCategoriesCollected').show();
        }
        var category = "";
        var hasSpun = false;
        app.components.Spinner = function (wheel, button, ops) {
            //set options and defaults
            ops = ops ? ops : {};
            var onStop = ops.onStop ? ops.onStop : function () { };
            var destination = ops.destination;
            var slices = ops.slices;
            var stopDegree = 0;

            function getCategory() {

                if (stopDegree <= 51) {

                    category = "Science";

                } else if (stopDegree <= 102 && stopDegree > 51) {

                    category = "Entertainment";

                } else if (stopDegree <= 152 && stopDegree > 102) {

                    category = "Geography";

                } else if (stopDegree <= 205 && stopDegree > 152) {

                    category = "History";

                } else if (stopDegree <= 255 && stopDegree > 205) {

                    category = "Art";

                } else if (stopDegree <= 307 && stopDegree > 255) {

                    category = "Sports";

                } else if (stopDegree <= 360 && stopDegree > 307) {

                    category = "Crown";

                }
            };

            var clicker = new app.components.Wheel(button);
            var spinner = new app.components.Wheel(wheel, {
                timeout: 2000,
                onStop: function (degrees) {
                    clicker.rotate(0);

                    if (category == "Crown") {
                        setTimeout(function () { $('#playButton').show(); }, 2100);
                        $('#playButton').click(function () {
                            passGameIdToCrownQuestion(@gameId);
                        });
                    }
                    else {
                        showPlayButton();
                    }
                },
                onRotate: function (degrees) {
                    clicker.rotate((degrees % 360 % (slices * 2)) + (360 - slices));
                    stopDegree = degrees; getCategory();
                }
            });

            this.reset = function () {
                spinner.rotate(0);
            };

            this.setDestination = function (degrees) {
                stopAt = degrees;
            };

            button.addEventListener("click", function () {
                if (!spinner.isAccelerating() && !spinner.isStopping()&& hasSpun == false) {
                    spinner.start();
                    var spinnersound = document.getElementById('spinnersound');
                    spinnersound.play();

                    window.setTimeout(function () {
                        spinner.stop(destination);
                    }, 4000);

                    hasSpun = true;
                }
            });

            this.clicker = clicker;
            this.spinner = spinner;
        };

        app.components.Wheel = function (target, ops) {
            //set options and defaults
            ops = ops ? ops : {};
            var timeout = ops.timeout;
            var acceleration = ops.accelerationDelay ? ops.accelerationDelay : 100;
            var onRotateListener = ops.onRotate ? ops.onRotate : function () { };
            var onStopListener = ops.onStop ? ops.onStop : function () { };
            var increment = ops.increment ? ops.increment : 1;
            var delay = ops.delay ? ops.delay : 10;

            var state = {
                accelerating: false,
                stopping: false,
                destination: null,
                degrees: 0
            };

            var intervals = {
                accelerater: null,
                decelerater: null,
                spinner: []
            };

            var rotate = function (deg) {
                target.style.webkitTransform = 'rotate(' + deg + 'deg)';
                target.style.mozTransform = 'rotate(' + deg + 'deg)';
                target.style.msTransform = 'rotate(' + deg + 'deg)';
                target.style.oTransform = 'rotate(' + deg + 'deg)';
                target.style.transform = 'rotate(' + deg + 'deg)';
                state.degrees = deg;
                onRotateListener.apply(this, [deg]);
            };

            var spin = function (speed) {
                intervals.spinner.push(window.setInterval(function () {
                    rotate((state.degrees + speed) % 360);

                    if (state.destination !== null && intervals.spinner.length == 1) {
                        if (state.degrees == state.destination) {
                            window.clearInterval(intervals.spinner.pop());
                            state.destination = null;
                            state.stopping = false;
                            onStopListener.apply(this, [state]);
                        }
                    }
                }, delay));
            };

            var accelerate = function () {
                state.accelerating = true;
                intervals.accelerater = window.setInterval(spin.bind(this, increment), acceleration);

                if (timeout > 0) {
                    window.setTimeout(function () {
                        window.clearInterval(intervals.accelerater);
                        state.accelerating = false;
                    }, timeout);
                }
            };

            var decelerate = function (to) {
                state.stopping = true;
                state.accelerating = false;
                window.clearInterval(intervals.accelerater);
                var slowDown = function () {
                    if (intervals.spinner.length > 1) {
                        window.clearInterval(intervals.spinner.pop());
                    } else {
                        window.clearInterval(intervals.decelerater);

                        if (to || to === 0) {
                            state.destination = to;
                        } else {
                            window.clearInterval(intervals.spinner.pop());
                            state.stopping = false;
                            onStopListener.apply(this, [state]);
                        }
                    }
                };

                intervals.decelerater = window.setInterval(slowDown, acceleration);
            };

            //expose
            this.isAccelerating = function () {
                return state.accelerating;
            };
            this.isStopping = function () {
                return state.stopping;
            };
            this.start = accelerate;
            this.stop = decelerate;
            this.rotate = rotate;
            this.spin = spin;

        };

        app.spinner = new app.components.Spinner(
            document.getElementById('spinner-wheel'),
            document.getElementById('spinner-button'), {
                slices: 7,
                onStop: function (state) {
                    console.log(state);
                }
            });

        function showPlayButton() {
            setTimeout(function () { $('#playButton').show(); }, 2100);
        };

        $('#playButton').click(function () {
            if (category != "Crown") {
                passCategoryToController(category, @gameId, "False", "False");
            }
        });

        $('#crownButton').click(function () { passAnswerResultToTriviaController(@gameId, "/Trivia/SelectCategory/", "Crown")});
        $('#challengeOpponentButton').click(function () { passAnswerResultToTriviaController(@gameId, "/Trivia/SelectCategory/", "Challenge") });

        function passAnswerResultToTriviaController(id, controllerURL, questionType) {
            $.ajax({
                url: controllerURL,
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    gameId: id,
                    questionType: questionType
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        }

        function passGameIdToCrownQuestion(id) {
            $.ajax({
                url: "/Trivia/SelectCategory",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    gameId: id,
                    questionType: "Crown"
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        }

        function passCategoryToController(category, id, crown, challenge) {
            $.ajax({
                url: "/Trivia/Question",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    categoryName: category,
                    gameId: id,
                    isCrownQuestion: crown,
                    isChallengeQuestion: challenge
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        };
    </script>

}
