﻿@model TriviaCrack.Models.SubmittedQuestion

@{
    ViewBag.Title = "Question Submission";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<style>
    * {
        font-family: Verdana;
    }

    h2, select {
        text-indent: 5px;
    }

    input {
        width: 250px;
        border-radius: 15px;
        height: 24px;
    }

    label {
        font-size: 14pt;
    }
</style>
<h2>Submit a Question:</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger"})
    <ul style="list-style-type: none">
        <li data-role="list-divider"> @Html.LabelFor(model => model.Text) </li>
        <li>   
            <div id="editor-field">
                @Html.EditorFor(model => model.Text)
                <br/>
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
            <br/>
        </li>

        <li data-role="list-divider">
            @Html.LabelFor(model => model.CorrectAnswer)</li>
        <li>    
           <div class="editor-field">
                @Html.EditorFor(model => model.CorrectAnswer)
               <br/>
                @Html.ValidationMessageFor(model => model.CorrectAnswer)
            </div>
            <br/>
        </li>
        <li data-role="list-divider"> @Html.LabelFor(model => model.IncorrectAnswer1)</li>
        <li>    
            <div class="editor-field">
                @Html.EditorFor(model => model.IncorrectAnswer1)
                <br/>
                @Html.ValidationMessageFor(model => model.IncorrectAnswer1)
            </div>
            <br/>
        </li>

        <li data-role="list-divider"> @Html.LabelFor(model => model.IncorrectAnswer2) </li>
        <li>
            <div class="editor-field">
                @Html.EditorFor(model => model.IncorrectAnswer2)
                <br/>
                @Html.ValidationMessageFor(model => model.IncorrectAnswer2)
            </div>
            <br/>
        </li>

        <li data-role="list-divider"> @Html.LabelFor(model => model.IncorrectAnswer3) </li>
        <li>
            <div class="editor-field">
                @Html.EditorFor(model => model.IncorrectAnswer3)
                <br/>
                @Html.ValidationMessageFor(model => model.IncorrectAnswer3)
            </div>
            <br/>
        </li>

        <li data-role="list-divider">
            <label>Select Category</label></li>
        <li>
            <div>
                <select style="font-size: 14pt; width: 160px; height: 40px; border-radius: 15px; background-color: purple; color: white" class="form-control" name="CategoryName">
                    <option value="Art">Art</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Geography">Geography</option>
                    <option value="History">History</option>
                    <option value="Science">Science</option>
                    <option value="Sports">Sports</option>
                </select>
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </li>
        </ul>
        <input style="font-size: 14pt; margin-left: 40px; width: 120px; height: 40px; background-color: purple; color: white;" type="submit" value="Submit" data-role="button" data-icon="grid"/>
}
<br/>
<div>
    @Html.ActionLink("Back to Home Page", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
