﻿@model TriviaCrack.Models.SubmittedQuestion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @Html.Partial("SubmittedQuestionPartial")
        <div class="col-md-10">
            <h3>Are you sure you want to delete this?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Text)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Text)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CorrectAnswer)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CorrectAnswer)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IncorrectAnswer1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IncorrectAnswer1)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IncorrectAnswer2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IncorrectAnswer2)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IncorrectAnswer3)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IncorrectAnswer3)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

