﻿@model TriviaCrack.Models.SubmittedQuestion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<style>
    * {
        font-family: Verdana;
    }

    h2, h3, h4, dt {
        text-indent: 5px;
        font-weight: bold;
    }

    dt, dd {
        font-size: 12pt;
    }
</style>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SubmittedQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncorrectAnswer1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncorrectAnswer1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncorrectAnswer2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncorrectAnswer2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncorrectAnswer3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncorrectAnswer3)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="border-radius: 15px; font-size: 14pt; margin-left: 40px; width: 120px; height: 40px; background-color: purple; color: white;" type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
