﻿@model TriviaCrack.Models.SubmittedQuestion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @Html.Partial("SubmittedQuestionPartial")
        <div class="col-md-10">
            <h2>Submitted Question Details</h2>

            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Text)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Text)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CorrectAnswer)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CorrectAnswer)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IncorrectAnswer1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IncorrectAnswer1)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IncorrectAnswer2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IncorrectAnswer2)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IncorrectAnswer3)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IncorrectAnswer3)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CategoryName)
                    </dd>
                </dl>
            </div>
            <input type="button" id="approveButton" value="Approve Question" class="btn btn-primary" style="margin-left:102px" />
        </div>
    </div>
</div>


@section scripts{
    <script>
        var id = @Html.Raw(Model.Id);
        $('#approveButton').click(function () {
            $.ajax({
                url: "/SubmittedQuestions/Approve",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    questionId: id
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        });

    </script>

}