﻿@model TriviaCrack.Models.SubmittedQuestion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<style>
    * {
        font-family: Verdana;
    }

    h2, h4, dt {
        text-indent: 5px;
    }
</style>
<h2>Details</h2>

<div>
    <h4>Submitted Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncorrectAnswer1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncorrectAnswer1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncorrectAnswer2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncorrectAnswer2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncorrectAnswer3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncorrectAnswer3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<input style="font-size: 14pt; margin-left: 40px; width: 170px; height: 40px; border-radius: 15px; background-color: purple; color: white" type="button" id="approveButton" value="Approve Question" class="btn btn-primary" style="margin-left:102px"/>
<p></p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    <script>
        var id = @Html.Raw(Model.Id);
        $('#approveButton').click(function () {
            $.ajax({
                url: "/SubmittedQuestions/Approve",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    questionId: id
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        });

    </script>

}