﻿@model TriviaCrack.Models.SubmittedQuestion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<style>
    * {
        font-family: Verdana;
    }

    h2, h4, input, select, form {
        text-indent: 5px;
    }

    input {
        width: 250px;
        border-radius: 15px;
        height: 24px;
    }

    label {
        font-size: 14pt;
    }
</style>

<h2>Edit Submitted Question @Html.DisplayFor(model => model.Id)</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <!--<h4>SubmittedQuestion</h4>-->
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
            <br/>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CorrectAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CorrectAnswer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CorrectAnswer, "", new { @class = "text-danger" })
            </div>
            <br/>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IncorrectAnswer1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncorrectAnswer1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncorrectAnswer1, "", new { @class = "text-danger" })
            </div>
            <br/>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IncorrectAnswer2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncorrectAnswer2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncorrectAnswer2, "", new { @class = "text-danger" })
            </div>
            <br/>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IncorrectAnswer3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncorrectAnswer3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncorrectAnswer3, "", new { @class = "text-danger" })
            </div>
            <br/>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Select Category:</label>
            <div class="col-md-10">
                <select style="font-size: 14pt; width: 160px; height: 40px; border-radius: 15px; background-color: purple; color: white" class="form-control" name="CategoryName">
                    @{
                        if (Model.CategoryName == "Art")
                        {
                            <option value="Art" selected>Art</option>
                        }
                        else
                        {
                            <option value="Art">Art</option>
                        }

                        if (Model.CategoryName == "Entertainment")
                        {
                            <option value="Entertainment" selected>Entertainment</option>
                        }
                        else
                        {
                            <option value="Entertainment">Entertainment</option>
                        }

                        if (Model.CategoryName == "Geography")
                        {
                            <option value="Geography" selected>Geography</option>
                        }
                        else
                        {
                            <option value="Geography">Geography</option>
                        }

                        if (Model.CategoryName == "History")
                        {
                            <option value="History" selected>History</option>
                        }
                        else
                        {
                            <option value="History">History</option>
                        }

                        if (Model.CategoryName == "Science")
                        {
                            <option value="Science" selected>Science</option>
                        }
                        else
                        {
                            <option value="Science">Science</option>
                        }

                        if (Model.CategoryName == "Sports")
                        {
                            <option value="Sports" selected>Sports</option>
                        }
                        else
                        {
                            <option value="Sports">Sports</option>
                        }
                        }
                </select>
            </div>
            <br/>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="font-size: 14pt; width: 120px; height: 40px; background-color: purple; color: white;" type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <br/>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
