﻿@model IEnumerable<TriviaCrack.Models.SubmittedQuestion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        @Html.Partial("SubmittedQuestionPartial")
        <div class="col-md-10">
            <h2>Player Submitted Questions</h2>
            <p></p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Text)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CorrectAnswer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IncorrectAnswer1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IncorrectAnswer2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IncorrectAnswer3)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CorrectAnswer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IncorrectAnswer1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IncorrectAnswer2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IncorrectAnswer3)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

