﻿body {
}

#viewbox {
    overflow: hidden;
    width: 1000px;
    height: 200px;
    border: solid 1px #000;
    position: relative;
}

#viewbox .wrapper {
    position: relative;
}

#viewbox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#viewbox li {
    display: block;
    width: 2000px;
    height: 200px;
    text-align: left;
    font-size: 150px;
}

.longSubmitButton {
    width: 125px;
    height: 75px;
    font-size: 50px;
    float: right;
    margin-top: 65px;
    margin-right: 40px;
}


