﻿@{
    ViewBag.Title = "Login Failure";
}
<style>
    * {
        font-family: Verdana;
    }

    h2, h3 {
        text-indent: 5px;
    }
</style>
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
