﻿@model TriviaCrack.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<h3>Associate your @ViewBag.LoginProvider account.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
        Please enter a user name for this site below and click the Register button to finish
        logging in.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "textboxx" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="registerButton" style="display:none" class="btn btn-default" value="Register" />
        </div>
    </div>
}
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="fakeRegisterButton" class="btn btn-default" value="Register" />
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    <script>

        $('#fakeRegisterButton').click(function () {
            var array = @Html.Raw(Json.Encode(@ViewBag.AllUsers));
            var nameFound = "false";
            var name = $('#textboxx').val();
            
            for(var i = 0; i < array.length; i++) {
                if (name.toString() === array[i].toString()) {
                    nameFound = "true";
                }
            }
            if (nameFound == "true") {
                alert('A user with that username already exists!');
            }
            else {
                $('#registerButton').click();
            }
        });
    </script>
    
}
