﻿@using TriviaCrack.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
<style>
    * {
        font-family: Verdana;
    }

    h2, h4 {
        text-indent: 5px;
    }

    input {
        width: 250px;
        border-radius: 15px;
        height: 24px;
    }

    .checkbox {
        width: auto;
        height: auto;
    }

    label {
        font-size: 14pt;
    }
</style>
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <br/>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    <div class="col-md-offset-2">
                        <div id="checkbox">
                            <br/>
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox"})
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                    <br/>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input style="border-radius: 15px; font-size: 14pt; width: 120px; height: 40px; background-color: purple; color: white;" type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

<img src="~/Images/Ads/mobile_ad1.png" alt="AppRight ad" style="padding-left: 50px"/>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}