﻿@model TriviaCrack.Models.RoleDTO

@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<style>
    * {
        font-family: Verdana;
    }

    h4 {
        text-indent: 5px;
    }

    input {
        width: 250px;
        border-radius: 15px;
        height: 24px;
    }

    label {
        font-size: 14pt;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create Role</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RoleName,
           htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleName,
               new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleName,
               "",
               new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="font-size: 14pt; width: 120px; height: 40px; background-color: purple; color: white;" type="submit" value="Save" class="btn btn-default" />
                @Html.ActionLink("Back to List",
               "ViewAllRoles",
               null,
               new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
