﻿@model TriviaCrack.Models.ExpandedUserDTO
@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<style>
    * {
        font-family: Verdana;
    }

    h4, select {
        text-indent: 5px;
    }

    input {
        width: 250px;
        border-radius: 15px;
        height: 24px;
    }

    label {
        font-size: 14pt;
    }

    select {
        font-size: 14pt;
        width: 160px;
        height: 40px;
        border-radius: 15px;
        background-color: purple;
        color: white;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Email,
           htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email,
               new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "",
               new { @class = "text-danger" })
            </div>
            <br/>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password,
           htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password,
               new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password,
               "",
               new { @class = "text-danger" })
            </div>
            <br/>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Roles,
           htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Roles")
            </div>
            <br/>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="font-size: 14pt; width: 120px; height: 40px; background-color: purple; color: white;" type="submit" value="Save" class="btn btn-default" />
                @Html.ActionLink("Back to List",
               "Index",
               null,
               new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
