﻿@model TriviaCrack.Models.ExpandedUserDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var isenabled = (bool) ViewData["IsEnabled"];
}

<br />
<div class="container">
    <div class="row">
        @Html.Partial("AdminPartial")
        <div class="col-md-10">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Edit User</h4>
                    @Html.ValidationSummary(true,
                        "",
                        new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName,
                            htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.UserName,
                                new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "",
                                new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email,
                            htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email,
                                new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email,
                                "",
                                new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password,
                            htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.Password,
                                new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password,
                                "",
                                new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Location,
                            htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Location", new SelectList(ViewBag.Location, Model.Location, ""), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Location, "",
                                new { @class = "text-danger" })
                        </div>
                    </div>
                
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsEnabled,
htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CheckBoxFor(m => m.IsEnabled, new { @checked = "checked" })
                        </div>
                   </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LockoutEndDateUtc,
                 htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.LockoutEndDateUtc,
                     new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                                @Html.ActionLink("Edit Roles", "EditRoles",
                     new { UserName = Model.UserName },
                     new { @class = "btn btn-default" })
                                @Html.ActionLink("Back to List",
                     "Index",
                     null,
                     new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
            }

        </div>
    </div>
</div>
