﻿@model TriviaCrack.Models.UserAndRolesDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="row">
        @Html.Partial("AdminPartial")
        <div class="col-md-10">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <br />
                @Html.ValidationSummary(true,
    "",
    new { @class = "text-danger" })
                <div>
                    @Html.ActionLink("Back",
       "EditUser",
       new { UserName = Model.UserName },
       new { @class = "btn btn-default" })
                    <input type="submit" value="Add Role" class="btn btn-default" />
                    @Html.DropDownList("AddRole")
                </div>
                <br />

                <table class="table">
                    <tr>
                        <th>
                            Existing Roles:
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.colUserRoleDTO)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleName)
                            </td>
                            <td>
                                @if (!((Model.UserName.ToLower() ==
            this.User.Identity.Name.ToLower()) &&
            item.RoleName == "Administrator") &&
            item.RoleName != "No Roles Found")
                                {
                                    @Html.ActionLink("Delete", "DeleteRole",
                       new { UserName = item.UserName, RoleName = item.RoleName },
                        new
                        {
                            onclick =
                        "return confirm('Are you sure you wish to delete this role?');"
                        })
                                }
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>
