﻿@model TriviaCrack.Models.ExpandedUserDTO
@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<style>
    * {
        font-family: Verdana;
    }

    h4, form {
        text-indent: 5px;
    }

    input {
        width: 250px;
        border-radius: 15px;
        height: 24px;
        text-indent: 10px;
    }

    label {
        font-size: 14pt;
    }

    .checkbox {
        float: right;
        margin-left: -110px;
        margin-right: 150px;
        margin-top: auto;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit User</h4>
        @Html.ValidationSummary(true,
       "",
       new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName,
           htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UserName,
               new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "",
               new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="form-group">
            @Html.LabelFor(model => model.Email,
           htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email,
               new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email,
               "",
               new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="form-group">
            @Html.LabelFor(model => model.Password,
           htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password,
               new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password,
               "",
               new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="form-group">
            @Html.LabelFor(model => model.Location,
                            htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Location", new SelectList(ViewBag.Location, Model.Location, ""), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Location, "",
                                new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="form-group">
            @Html.LabelFor(model => model.IsEnabled, htmlAttributes: new { @class = "control-label col-md-2", @id = "enableLabel" }) 
            @Html.CheckBoxFor(m => m.IsEnabled, htmlAttributes: new { @checked = "checked" , @class="checkbox"})     
        </div>
        <br/>
        <div class="form-group">
            @Html.LabelFor(model => model.LockoutEndDateUtc,
           htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.LockoutEndDateUtc,
               new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="text-indent: 0; font-size: 14pt; width: 170px; height: 40px; border-radius: 15px; background-color: purple; color: white" type="submit" value="Save" class="btn btn-default" />
                <br/><br/>
                @Html.ActionLink("Edit Roles", "EditRoles",
               new { UserName = Model.UserName },
               new { @class = "btn btn-default" })
                @Html.ActionLink("Back to List",
               "Index",
               null,
               new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
