﻿@model TriviaCrack.Models.UserAndRolesDTO
@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<style>
    * {
        font-family: Verdana;
    }

    h2, select, form {
        text-indent: 5px;
    }

    input {
        width: 250px;
        border-radius: 15px;
        height: 24px;
        text-indent: 10px;
    }

    label {
        font-size: 14pt;
    }

    select {
        font-size: 12pt;
        width: 160px;
        height: 40px;
        border-radius: 15px;
        background-color: purple;
        color: white;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    @Html.ValidationSummary(true,
    "",
    new { @class = "text-danger" })
    <div>
        @Html.ActionLink("Back",
       "EditUser",
       new { UserName = Model.UserName },
       new { @class = "btn btn-default" })
        <input style="text-indent: 0; font-size: 12pt; width: 120px; height: 40px; border-radius: 15px; background-color: purple; color: white" type="submit" value="Add Role" class="btn btn-default" />
        @Html.DropDownList("AddRole")
    </div>
    <br />

    <table class="table">
        <tr>
            <th>
                Existing Roles:
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.colUserRoleDTO)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @if (!((Model.UserName.ToLower() ==
                        this.User.Identity.Name.ToLower()) &&
                        item.RoleName == "Administrator") &&
                        item.RoleName != "No Roles Found")
                    {
                        @Html.ActionLink("Delete", "DeleteRole",
                       new { UserName = item.UserName, RoleName = item.RoleName },
                        new
                        {
                            onclick =
                        "return confirm('Are you sure you wish to delete this role?');"
                        })
                    }
                </td>
            </tr>
        }
    </table>
}