﻿@model PagedList.IPagedList<TriviaCrack.Models.ExpandedUserDTO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<style>
    * {
        font-family: Verdana;
    }

    h2 {
        text-indent: 5px;
    }
</style>

<br />
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Edit Roles", "ViewAllRoles", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Back to Home", "../", "Home", null, new { @class = "btn btn-default" })
            </p>
            <br />
            @using (Html.BeginForm("Index", "Admin", FormMethod.Get))
            {

                <div class="form-group">
                    Search:&nbsp; @Html.TextBox("searchStringUserNameOrEmail", ViewBag.CurrentFilter as string)

                    <input style="text-indent: 0; font-size: 12pt; width: 70px; height: 30px; border-radius: 15px; background-color: purple; color: white" type="submit" value="Search" />
                </div>
            }
            <br />

            <table class="table">
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Locked Out
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditUser", new { UserName = item.UserName }) |
                            @if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
                {
                                @Html.ActionLink("Delete", "DeleteUser", new { UserName = item.UserName },
                    new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
                            }
                        </td>
                    </tr>
                }


            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model,
    page => Url.Action("Index",
    new
    {
        page,
        searchStringUserNameOrEmail = ViewBag.searchStringUserNameOrEmail,
        currentFilter = ViewBag.CurrentFilter
    }))
            
        </div>
    </div>
</div>
