﻿@model IEnumerable<TriviaCrack.Models.RoleDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <div class="row">
        @Html.Partial("AdminPartial")
        <div class="col-md-10">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Add Role", "AddRole", null, new { @class = "btn btn-default" })
            </p>
            <table class="table">
                <tr>
                    <th>
                        Role
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td>
                            @if (item.RoleName.ToLower() != "administrator")
                {
                                @Html.ActionLink("Delete", "DeleteUserRole",
                   new { RoleName = item.RoleName },
                   new
                   {
                       onclick =
                   "return confirm('Are you sure you wish to delete this role?');"
                   })
                            }
                        </td>

                    </tr>
                }
            </table>
        </div>
    </div>
</div>


