﻿@model TriviaCrack.ViewModels.NewQuestion
@{
    ViewBag.Title = "Create";
}
<br />
<div class="container">
    <div class="row">
        @Html.Partial("QuestionPartial")
        <div class="col-md-10">
            <h2>Create New Question</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="col-md-2">Question Text</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Correct Answer</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CorrectChoice, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Answer Choice 2</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Choice2, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Answer Choice 3</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Choice3, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Answer Choice 4</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Choice4, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Category</label>
                    <div class="col-md-10">
                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Difficulty</label>
                    <div class="col-md-10">
                        @Html.DropDownList("Difficulty", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Create" id="submitButton" class="btn btn-default" onclick="submit()" />
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to All Questions", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
