﻿@model TriviaCrack.Models.Question

@{
    ViewBag.Title = "Delete";
}
<br />
<div class="container">
    <div class="row">
        @Html.Partial("QuestionPartial")
        <div class="col-md-10">
            <h2>Are you sure you want to delete this question?</h2>

            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Question Text
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Text)
                    </dd>
                    <dt>
                        Correct Answer
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CorrectAnswer.Text)
                    </dd>
                    <dt></dt>
                    <dd><br /></dd>
                    <dt>
                        Choice 1
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AnswerChoice1.Text)
                    </dd>

                    <dt>
                        Choice 2
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AnswerChoice2.Text)
                    </dd>

                    <dt>
                        Choice 3
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AnswerChoice3.Text)
                    </dd>

                    <dt>
                        Choice 4
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AnswerChoice4.Text)
                    </dd>
                    <dt></dt>
                    <dd><br /></dd>
                    <dt>
                        Category
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Category.Description)
                    </dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color" style="margin-left:110px">
                        <input type="submit" value="Delete" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
