﻿@model TriviaCrack.Models.Question

@{
    ViewBag.Title = "Delete";
}

<style>
    * {
        font-family: Verdana;
    }

    h2, dt {
        text-indent: 5px;
        font-weight: bold;
    }

    dt, dd {
        font-size: 12pt;
    }
</style>

<h2>Are you sure you want to delete this question?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Question Text
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt></dt>
        <dd><br /></dd>
        <dt>
            Correct Answer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorrectAnswer.Text)
        </dd>
        <dt></dt>
        <dd><br/></dd>
        <dt>
            Choice 1
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerChoice1.Text)
        </dd>
        <dt></dt>
        <dd><br/></dd>
        <dt>
            Choice 2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerChoice2.Text)
        </dd>
        <dt></dt>
        <dd><br/></dd>
        <dt>
            Choice 3
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerChoice3.Text)
        </dd>
        <dt></dt>
        <dd><br/></dd>
        <dt>
            Choice 4
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerChoice4.Text)
        </dd>
        <dt></dt>
        <dd><br /></dd>
        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Description)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="border-radius: 15px; font-size: 14pt; margin-left: 40px; width: 120px; height: 40px; background-color: purple; color: white;" type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to All Questions", "Index")
        </div>
    }
</div>
