﻿@model TriviaCrack.Models.Question

@{
    ViewBag.Title = "Details";
}

<style>
    * {
        font-family: Verdana;
    }

    h2, dt {
        text-indent: 5px;
    }
</style>

<h2>Question Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Question Text
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt></dt>
        <dd><br /></dd>
        <dt>
            Correct Answer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorrectAnswer.Text)
        </dd>
        <dt></dt>
        <dd><br /></dd>
        <dt>
            Choice 1
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerChoice1.Text)
        </dd>
        <dt></dt>
        <dd><br /></dd>
        <dt>
            Choice 2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerChoice2.Text)
        </dd>
        <dt></dt>
        <dd><br /></dd>
        <dt>
            Choice 3
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerChoice3.Text)
        </dd>
        <dt></dt>
        <dd><br /></dd>
        <dt>
            Choice 4
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerChoice4.Text)
        </dd>
      
        <dt></dt>
        <dd><br/></dd>
        <dt>
            Category
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Category.Description)
        </dd>
        <dd><br /></dd>
        <dt>
            Difficulty
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to All Questions", "Index")
</p>
