﻿@model TriviaCrack.ViewModels.NewQuestion

@{
    ViewBag.Title = "Edit";
}

<style>
    * {
        font-family: Verdana;
    }

    h2, select, form {
        text-indent: 5px;
    }

    input {
        width: 250px;
        border-radius: 15px;
        height: 24px;
        text-indent: 10px;
    }

    label {
        font-size: 14pt;
    }

    select {
        font-size: 14pt;
        width: 160px;
        height: 40px;
        border-radius: 15px;
        background-color: purple;
        color: white;
    }
</style>

<h2>Edit Question</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="col-md-2">Question Text</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
            <br/>
        </div>

        <div class="form-group">
            <label class="col-md-2">Correct Answer</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CorrectChoice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CorrectChoice, "", new { @class = "text-danger" })
            </div>
            <br/>
        </div>

        <div class="form-group">
            <label class="col-md-2">Choice 2</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Choice2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Choice2, "", new { @class = "text-danger" })
            </div>
            <br/>
        </div>

        <div class="form-group">
            <label class="col-md-2">Choice 3</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Choice3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Choice3, "", new { @class = "text-danger" })
            </div>
            <br/>
        </div>

        <div class="form-group">
            <label class="col-md-2">Choice 4</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Choice4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Choice4, "", new { @class = "text-danger" })
            </div>
            <br/>
        </div>

        <div class="form-group">
            <label class="col-md-2">Category</label>
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
            <br/>
        </div>

        <div class="form-group">
            <label class="col-md-2">Difficulty</label>
            <div class="col-md-10">
                @Html.DropDownList("Difficulty", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Difficulty, "", new { @class = "text-danger" })
            </div>
            <br/>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="text-indent: 0; font-size: 14pt; width: 170px; height: 40px; border-radius: 15px; background-color: purple; color: white" type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        <br/>
    </div>
}

<div>
    @Html.ActionLink("Back to All Questions", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
