﻿@model IEnumerable<TriviaCrack.Models.Question>

@using PagedList.Mvc;
@using PagedList;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<br />
<div class="container">
    <div class="row">
        @Html.Partial("QuestionPartial")
        <div class="col-md-10">
            <h2>Questions</h2>

            <p>
                @Html.ActionLink("Create New Question", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        Question
                    </th>
                    <th>
                        Correct Answer
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Difficulty
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorrectAnswer.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Difficulty)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
                }
            </table>
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>
