﻿@model TriviaCrack.Models.Question
@{
    var gameId = (int)ViewData["ClassicChallengeGameId"];
    var currentQuestion = (int)ViewData["CurrentQuestion"];
    var opponentCurrentQuestion = (int)ViewData["OpponentCurrentQuestion"];
    var totalCorrect = (int)ViewData["TotalCorrect"];
    var opponentTotalCorrect = (int)ViewData["OpponentTotalCorrect"];
    var challengeQuestionNumber = currentQuestion + 1;
    var opponentChallengeQuestionNumber = opponentCurrentQuestion + 1;
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<p></p>
<div class="container-fluid" style="border:1px solid #cecece;">
    <div class="container-fluid" style="margin-bottom:0px; padding-bottom:4px; background-color:lightgrey">
        <div class="container text-center">
            <h2 style="margin-bottom:2px">@Model.Text</h2>
            <h4><em>@Model.Category.Description</em></h4>
            <h4>Challenge Question #@challengeQuestionNumber</h4>

        </div>
    </div>
    <div class="container-fluid bg-3 text-center">
        <h2 id="timerCountdown">20</h2><br />
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <input type="button" value="@Model.AnswerChoice1.Text" id="answerChoice1Button" class="btn btn-lg" />
            </div>
            <div class="col-sm-3">
                <input type="button" value="@Model.AnswerChoice2.Text" id="answerChoice2Button" class="btn btn-lg" />
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div><br><br>
    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <input type="button" value="@Model.AnswerChoice3.Text" id="answerChoice3Button" class="btn btn-lg" />
            </div>
            <div class="col-sm-3">
                <input type="button" value="@Model.AnswerChoice4.Text" id="answerChoice4Button" class="btn btn-lg" />
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <p></p><p></p><br /><br />
</div>

<div class="form-group">
    <center><h3 id="resultCaption"></h3></center>
    <center><h3 id="totalCorrectCaption"></h3></center>
    <center><h3 id="opponentTotalCorrectCaption"></h3></center>
    <center><h3 id="outcomeCaption"></h3></center>
    <center><input type="button" id="nextQuestionButton" value="Next" class="btn btn-default" /></center>
    <center><input type="button" id="backToHomeButton" value="Back to Main Menu" class="btn btn-default" /></center>
    <center><input type="button" id="tieButton" value="Proceed to Tie Breaker Question" class="btn btn-default" /></center>
</div>
<div class="ratingPart">
    <center><h2 id="ratingCaption" style="display:none">Wanna rate this question??</h2></center>
</div>
@Styles.Render("~/Content/css")
@section scripts{
    <script>
        var timerRunning;
        $(document).ready(function () {
            $('#backToHomeButton').hide();
            $('#nextQuestionButton').hide();
            $('#tieButton').hide();

            timerRunning = true;
            var timeRemaining = 20;
            var timer;

            function showTimeRemaining() {
                if (timerRunning == false) {
                    clearInterval(timer);
                    return;
                }
                if (timeRemaining < 0) {
                    clearInterval(timer);
                    document.getElementById('timerCountdown').innerHTML = 'Times up!';
                    checkIfAnswerChoiceIsCorrect(-1);
                    return;
                }
                document.getElementById('timerCountdown').innerHTML = timeRemaining;
                timeRemaining -= 1;
            }

            clearInterval(timer);
            timer = setInterval(showTimeRemaining, 1000);
        });
    </script>
    @*Answer Button Handlers*@
    <script>
        var answerSelected = false;
        var answerCorrect = false;

        $('#answerChoice1Button').click(function() { checkIfAnswerChoiceIsCorrect(@Model.AnswerChoice1.Id); });
        $('#answerChoice2Button').click(function() { checkIfAnswerChoiceIsCorrect(@Model.AnswerChoice2.Id); });
        $('#answerChoice3Button').click(function() { checkIfAnswerChoiceIsCorrect(@Model.AnswerChoice3.Id); });
        $('#answerChoice4Button').click(function() { checkIfAnswerChoiceIsCorrect(@Model.AnswerChoice4.Id); });

        function stopTimer() {
            timerRunning = false;
        }

        function checkIfAnswerChoiceIsCorrect(answerId) {
            if (answerSelected) {
                return;
            }
            answerSelected = true;
            changeButtonColorsToRed();
            stopTimer();

            if (@Model.CorrectAnswer.Id == answerId) {
                showCorrectAnswerMessage();
                answerCorrect = true;
                passAnswerResultToClassicChallengeController(@gameId, "/ClassicChallenge/CorrectAnswer");
            } else {
                showIncorrectAnswerMessage();
                answerCorrect = false;
                passAnswerResultToClassicChallengeController(@gameId, "/ClassicChallenge/IncorrectAnswer");
            }
            changeCorrectAnswerButtonToGreen();
        }

        $('#nextQuestionButton').click(function () { window.location.href = '/ClassicChallenge/Question/'; });
        $('#backToHomeButton').click(function () { switchPlayerTurns(@gameId); });
        $('#tieButton').click(function () { window.location.href = '/ClassicChallenge/Question/'; });

        function switchPlayerTurns(id) {
            $.ajax({
                url: '/ClassicChallenge/SwitchTurns/',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    gameId: id
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        }

        function passAnswerResultToClassicChallengeController(id, controllerURL) {
            $.ajax({
                url: controllerURL,
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    gameId: id
                }),
                async: false,
                success: function(result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        }

        function changeButtonColorsToRed() {
            $(".btn").each(function() {
                if ($(this).attr('id') != 'nextQuestionButton' &&
                    $(this).attr('id') != 'backToHomeButton' &&
                    $(this).attr('id') != 'tieButton') {
                    $(this).removeClass("btn btn-lg").addClass("btn btn-danger btn-lg");
                }
            })
        }

        function changeCorrectAnswerButtonToGreen() {
            if (@Model.CorrectAnswer.Id == @Model.AnswerChoice1.Id) {
                $('#answerChoice1Button').removeClass("btn btn-danger btn-lg").addClass("btn btn-success btn-lg");
            } else if (@Model.CorrectAnswer.Id == @Model.AnswerChoice2.Id) {
                $('#answerChoice2Button').removeClass("btn btn-danger btn-lg").addClass("btn btn-success btn-lg");
            } else if (@Model.CorrectAnswer.Id == @Model.AnswerChoice3.Id) {
                $('#answerChoice3Button').removeClass("btn btn-danger btn-lg").addClass("btn btn-success btn-lg");
            }
            else if (@Model.CorrectAnswer.Id == @Model.AnswerChoice4.Id) {
                $('#answerChoice4Button').removeClass("btn btn-danger btn-lg").addClass("btn btn-success btn-lg");
            }
        }

        function showCorrectAnswerMessage() {
            var totalCorrectAnswers = @totalCorrect + 1;
            var opponentTotalCorrectAnswers = @opponentTotalCorrect;

            document.getElementById('resultCaption').innerHTML = 'Correct! Great job!'
            if (@challengeQuestionNumber == 7) {
                document.getElementById('outcomeCaption').innerHTML = 'You have won the challenge.'
                $('#backToHomeButton').show();
            }
            else if (@challengeQuestionNumber != 6) {
                document.getElementById('totalCorrectCaption').innerHTML = 'You have answered ' + totalCorrectAnswers + '  out of 6 questions correctly.'
                $('#nextQuestionButton').show();
            }
            else {
                document.getElementById('totalCorrectCaption').innerHTML = 'You answered ' + totalCorrectAnswers + ' out of the 6 challenge questions correctly.'
                $('#backToHomeButton').show();
                if (@opponentChallengeQuestionNumber == 7) {
                    document.getElementById('opponentTotalCorrectCaption').innerHTML = 'Your opponent answered ' + opponentTotalCorrectAnswers + '  out of 6 questions correctly.'
                    if (totalCorrectAnswers > opponentTotalCorrectAnswers) {
                        document.getElementById('outcomeCaption').innerHTML = 'Congratulations, you won the challenge!'
                    }
                    else if (totalCorrectAnswers < opponentTotalCorrectAnswers) {
                        document.getElementById('outcomeCaption').innerHTML = 'Sorry, you lost the challenge.'
                    }
                    else {
                        document.getElementById('outcomeCaption').innerHTML = 'You have tied!'
                        $('#nextQuestionButton').hide();
                        $('#backToHomeButton').hide();
                        $('#tieButton').show();
                    }
                }
            }
        }

        function showIncorrectAnswerMessage() {

            var opponentTotalCorrectAnswers = @opponentTotalCorrect;
            document.getElementById('resultCaption').innerHTML = 'Sorry, that is incorrect.';

            if (@challengeQuestionNumber == 7) {
                document.getElementById('outcomeCaption').innerHTML = 'You have lost the challenge.'
                $('#backToHomeButton').show();
            }
            else if (@challengeQuestionNumber != 6) {
                $('#nextQuestionButton').show();
                document.getElementById('totalCorrectCaption').innerHTML = 'You have answered ' + @totalCorrect + '  out of 6 questions correctly.'
            }
            else {
                document.getElementById('totalCorrectCaption').innerHTML = 'You answered ' + @totalCorrect  + ' out of the 6 challenge questions correctly.'
                $('#backToHomeButton').show();
                if (@opponentChallengeQuestionNumber == 7) {
                    document.getElementById('opponentTotalCorrectCaption').innerHTML = 'Your opponent answered ' + opponentTotalCorrectAnswers + '  out of 6 questions correctly.'
                    if (@totalCorrect  > opponentTotalCorrectAnswers) {
                        document.getElementById('outcomeCaption').innerHTML = 'Congratulations, you won the challenge!'
                    }
                    else if (@totalCorrect  < opponentTotalCorrectAnswers) {
                        document.getElementById('outcomeCaption').innerHTML = 'Sorry, you lost the challenge.'
                    }
                    else {
                        document.getElementById('outcomeCaption').innerHTML = 'You have tied!'
                        $('#nextQuestionButton').hide();
                        $('#backToHomeButton').hide();
                        $('#tieButton').show();
                    }
                }
            }
        }

        function swapCategoryBetweenPlayers(id, categoryToCollect) {
            $.ajax({
                url: '/Trivia/SwapCategory',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    gameId: id,
                    category: categoryToCollect
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        }
    </script>
}
