﻿<br />
<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-home fa-fw"></i>Users</a></li>
        <li class="active"><a href="#"><i class="fa fa-list-alt fa-fw"></i>Answers</a></li>
        <li><a href="@Url.Action("Index", "Question")"><i class="fa fa-list-alt fa-fw"></i>Questions</a></li>
        <li><a href="@Url.Action("Index", "Category")"><i class="fa fa-list-alt fa-fw"></i>Categories</a></li>
        <li><a href="@Url.Action("Questions", "Generator")"><i class="fa fa-list-alt fa-fw"></i>Generate Questions</a></li>
        <li><a href="@Url.Action("Index", "SubmittedQuestions")"><i class="fa fa-list-alt fa-fw"></i>Submitted Questions</a></li>
    </ul>
</div>
