﻿@model TriviaCrack.Models.Answer

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <div class="row">
        @Html.Partial("AnswerPartial")
        <div class="col-md-10">
            <h3>Are you sure you want to delete this Answer?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Text)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Text)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to All Answers", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>

