﻿@model TriviaCrack.Models.Answer

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        @Html.Partial("AnswerPartial")
        <div class="col-md-10">
            <h2>Answer Details</h2>

            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Text)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Text)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to All Answers", "Index")
            </p>
        </div>
    </div>
</div>

