﻿@model IEnumerable<TriviaCrack.Models.Answer>

@{
    ViewBag.Title = "Index";
}
@using PagedList.Mvc;
@using PagedList;
@Styles.Render("~/Content/PagedList.css")
<style>
    * {
        font-family: Verdana;
    }

    h2, #createLink, #pageControl, #display {
        text-align: center;
    }
</style>

<h2>Answers</h2>

<p id="createLink">
    @Html.ActionLink("Create New Answer", "Create")
</p>
<div id="display">
<table class="table" style="width: 100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
</div>
<div id="pageControl">
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @class="pageControl" }),
    new PagedListRenderOptions() {
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        MaximumPageNumbersToDisplay = 5,
        DisplayEllipsesWhenNotShowingAllPageNumbers = false,
    })
</div>