﻿@{
    ViewBag.Title = "Generate Questions";
}

<style>
    *{
        font-family: Verdana;
        text-align: center;
    }

    #up {
        background-color: green;
        color: white;
        border-radius: 15px;
    }

    #down {
        background-color: red;
        color: white;
        border-radius: 15px;
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #submitButton {
        background-color: purple;
        color: white;
        border-radius: 15px;
    }
</style>
<div class="container-fluid" style="border:1px solid #cecece;">
    <div class="container-fluid" style="margin-bottom:0px; padding-bottom:4px; background-color:lightsteelblue">
        <div class="container text-center">
            <h3>JSON Question Generator</h3>
            <h4>Questions from https://opentdb.com/api_config.php </h4>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="d-flex align-items-center" style="margin-top:10px">
        <div class="container text-center">
            <div id="incdec">
                <h3>
                    Number of Questions:<input type="text" value="0" style="width:70px; text-align:right" readonly="readonly" />
                    <button id="up" class="btn btn-success">+</button>
                    <button id="down" class="btn btn-danger">-</button>
                </h3>
            </div>
            <h3>
                Category:
                <select id="ddlViewBy">
                    <option value="25">Art</option>
                    <option value="12">Entertainment</option>
                    <option value="21">Sports</option>
                    <option value="22">Geography</option>
                    <option value="23">History</option>
                    <option value="17">Science</option>
                </select>
            </h3>
            <h3>
                Difficulty:
                <select id="diffViewBy">
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                </select>
            </h3><br />
            <input type="button" value="Submit" id="submitButton" class="btn btn-default" />
            <br/>
        </div>
        <br/>
    </div>
</div>
   
@section scripts{
    <script>
        $(document).ready(function () {
            var count = 0;
            $("#up").on('click', function () {
                if (count < 50) {
                    $("#incdec input").val(parseInt($("#incdec input").val()) + 1);
                    count++;
                }
            });

            $("#down").on('click', function () {
                if (count > 0) {
                    $("#incdec input").val(parseInt($("#incdec input").val()) - 1);
                    count--;
                }
            });

            $("#submitButton").on('click', function () {
                if (count == 0) {
                    alert('Must have at least 1 question!');
                    return;
                }
                var e = document.getElementById("ddlViewBy");
                var strUser = e.options[e.selectedIndex].value;
                var diff = document.getElementById("diffViewBy");
                var strDiff = diff.options[diff.selectedIndex].value;
                createQuestions(count, strUser, strDiff);
            });
        });

        function createQuestions(totalQuestions, category, difficulty) {
            $.ajax({
                url: '/Generator/CreateQuestions',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    numberOfQuestions: totalQuestions,
                    category: category,
                    difficulty: difficulty
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        }
    </script>
}


