﻿@{
    ViewBag.Title = "Generate Questions";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-home fa-fw"></i>Users</a></li>
                <li><a href="@Url.Action("Index", "Question")"><i class="fa fa-list-alt fa-fw"></i>Questions</a></li>
                <li><a href="@Url.Action("Index", "Category")"><i class="fa fa-list-alt fa-fw"></i>Categories</a></li>
                <li class="active"><a href="#"><i class="fa fa-list-alt fa-fw"></i>Generate Questions</a></li>
                <li><a href="@Url.Action("Index", "SubmittedQuestions")"><i class="fa fa-list-alt fa-fw"></i>Submitted Questions</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <h3>Questions from https://opentdb.com/api_config.php </h3>
            <div id="incdec">
                <h3>
                    Number of Questions:<input type="text" value="0" style="width:70px; text-align:right" readonly="readonly" />
                    <button id="up" class="btn btn-success">+</button>
                    <button id="down" class="btn btn-danger">-</button>
                </h3>
            </div>
            <h3>
                Category:
                <select id="ddlViewBy">
                    <option value="25">Art</option>
                    <option value="12">Entertainment</option>
                    <option value="21">Sports</option>
                    <option value="22">Geography</option>
                    <option value="23">History</option>
                    <option value="17">Science</option>
                </select>
            </h3><br />
            <h3>
                Difficulty:
                <select id="diffViewBy">
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                </select>
            </h3><br />
            <input type="button" value="Submit" id="submitButton" class="btn btn-default" />
        </div>
    </div>
</div>
   
@section scripts{
    <script>
        $(document).ready(function () {
            var count = 0;
            $("#up").on('click', function () {
                if (count < 50) {
                    $("#incdec input").val(parseInt($("#incdec input").val()) + 1);
                    count++;
                }
            });

            $("#down").on('click', function () {
                if (count > 0) {
                    $("#incdec input").val(parseInt($("#incdec input").val()) - 1);
                    count--;
                }
            });

            $("#submitButton").on('click', function () {
                if (count == 0) {
                    alert('Must have at least 1 question!');
                    return;
                }
                var e = document.getElementById("ddlViewBy");
                var strUser = e.options[e.selectedIndex].value;
                var diff = document.getElementById("diffViewBy");
                var strDiff = diff.options[diff.selectedIndex].value;
                createQuestions(count, strUser, strDiff);
            });
        });

        function createQuestions(totalQuestions, category, difficulty) {
            $.ajax({
                url: '/Generator/CreateQuestions',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    numberOfQuestions: totalQuestions,
                    category: category,
                    difficulty: difficulty
                }),
                async: false,
                success: function (result) {
                    window.location.href = result.redirectToUrl;
                },
            });
        }
    </script>
}


