﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trivia Crackle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Trivia Crackle", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   @if (User.IsInRole("Administrator"))
                    {
                        <li><a href="@Url.Action("Index", "Admin")"><span class="glyphicon glyphicon-user"></span> Administration</a></li>
                        <li><a href="@Url.Action("Index", "Statistics")"><span class="glyphicon glyphicon-signal"></span> Site Statistics</a></li>
                        <li><a href="@Url.Action("Help", "Home")"><span class="glyphicon glyphicon-exclamation-sign"></span> Help</a></li>
                   }
                   else
                   {
                        <li><a href="@Url.Action("Create", "SubmittedQuestions")"><span class="glyphicon glyphicon-question-sign"></span> Submit a Question</a></li>
                        <li><a href="@Url.Action("Index", "Statistics")"><span class="glyphicon glyphicon-signal"></span> Site Statistics</a></li>
                        <li><a href="@Url.Action("Help", "Home")"><span class="glyphicon glyphicon-exclamation-sign"></span> Help</a></li>
                   }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
<div class="container body-content">
    <div>
        @RenderBody()
    </div>
    <hr/>
    <div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Trivia Crackle</p>
        </footer>
    </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
