﻿@using Microsoft.AspNet.Identity
@{ 
    var level = 0;
    if (ViewData["level"] == null)
    {
        level = 0;
    } else {
        level = (int)ViewData["level"];
    }
}
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()    
        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage"})
        <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-in"></span>Logout</a>
    }
}
else
{
       @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })<span class="glyphicon glyphicon-user"></span>
       @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })<span class="glyphicon glyphicon-log-in"></span>
}
