﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<style>
    * {
        font-family: Verdana;
        color: red;
    }

    h1, h2 {
        text-indent: 5px;
    }
</style>
<h1>Error!</h1>
<h2>An error occurred while processing your request.</h2>

