﻿<style>
    #ProfileImage {
        display:none;
    }
</style>
@using (Html.BeginForm("ChangeProfilePhoto", "Manage", FormMethod.Post, new { enctype = "multipart/form-data"}))
{   
    <dd><label class="btn btn-default btn-file">Browse<input type="file" name="ProfileImage" id="ProfileImage" accept=".png,.jpg,.jpeg,.gif,.tif" /></label>&nbsp;<input class="btn btn-default" type="submit" value="Upload" /></dd>
}