﻿<style>
    * {
        font-family: Verdana;
    }

    input {
        width: 250px;
        border-radius: 15px;
        height: 24px;
    }

    label {
        font-size: 14pt;
        text-indent: 5px;
    }

    .inputFile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

        .inputFile + label {
            font-size: 14pt;
            color: white;
            background-color: purple;
            display: block;
            border-radius: 15px;
            width: 125px;
            height: 30px;
            text-align: center;
            padding-top: 10px;
            padding-right: 5px;
        }
</style>
@using (Html.BeginForm("ChangeProfilePhoto", "Manage", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <dd><input class="inputFile" type="file" name="ProfileImage" id="ProfileImage" accept=".png,.jpg,.jpeg,.gif,.tif" />
    <label for="ProfileImage">Choose File</label><input style="border-radius: 15px; font-size: 14pt; width: 120px; height: 40px; background-color: purple; color: white;" type="submit" value="Upload" /></dd>
}

