﻿@model TriviaCrack.Models.ChangeLocationViewModel

@{
    ViewBag.Title = "Change Location";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangeLocation", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Location, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("CountryList", new SelectList(ViewBag.CountryList, "", ""), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}