﻿@model TriviaCrack.Models.IndexViewModel
    @using TriviaCrack.Models;
@{
    ViewBag.Title = "Manage Account";
    var opponents = (List<TriviaCrack.Models.Player>)ViewData["opponents"];
    var level = (int)ViewData["level"];
    var score = (int)ViewData["score"];
    var prevThreshold = (int)ViewData["prevThreshold"];
    var coins = (int) ViewData["coins"];
    var currentProgress = score - prevThreshold;
    var nextLevelPts = level + 2;
    var percent = Math.Round((currentProgress / (decimal)nextLevelPts), 2);
    var totalArt = (int)ViewData["artTotal"];
    var correctArt = (int)ViewData["artCorrect"];
    var percentArt = Math.Round((correctArt / (decimal)totalArt), 2, MidpointRounding.AwayFromZero) * 100;
    var totalEntertainment = (int)ViewData["entertainmentTotal"];
    var correctEntertainment = (int)ViewData["entertainmentCorrect"];
    var percentEntertainment = Math.Round((correctEntertainment / (decimal)totalEntertainment), 2, MidpointRounding.AwayFromZero) * 100;
    var totalGeography = (int)ViewData["geographyTotal"];
    var correctGeography = (int)ViewData["geographyCorrect"];
    var percentGeography = Math.Round((correctGeography / (decimal)totalGeography), 2, MidpointRounding.AwayFromZero) * 100;
    var totalHistory = (int)ViewData["historyTotal"];
    var correctHistory = (int)ViewData["historyCorrect"];
    var percentHistory = Math.Round((correctHistory / (decimal)totalHistory), 2, MidpointRounding.AwayFromZero) * 100;
    var totalScience = (int)ViewData["scienceTotal"];
    var correctScience = (int)ViewData["scienceCorrect"];
    var percentScience = Math.Round((correctScience / (decimal)totalScience), 2, MidpointRounding.AwayFromZero) * 100;
    var totalSports = (int)ViewData["sportsTotal"];
    var correctSports = (int)ViewData["sportsCorrect"];
    var percentSports = Math.Round((correctSports / (decimal)totalSports), 2, MidpointRounding.AwayFromZero) * 100;
    var winCount = (int)ViewData["gamesWon"];
    var lossCount = (int)ViewData["gamesLost"];
    var resignCount = (int)ViewData["gamesLostResigned"];
    var resignPercent = (decimal)0;
    if (lossCount == 0)
    {
        resignPercent = Math.Round((resignCount / (decimal)1), 2) * 100;
    }
    else
    {
        resignPercent = Math.Round((resignCount / (decimal)lossCount), 2) * 100;
    }
    var challengeWins = (int)ViewData["challengeWins"];
    var challengeTotal = (int)ViewData["challengeTotal"];
    var challengeLosses = challengeTotal - challengeWins;
    var numConsecutiveQuestions = (int)ViewData["numConsecutive"];
    var achievements = (List<Achievement>)ViewData["achievements"];
}
<style>
    #myProgress {
        width: 70%;
        background-color: #404040;
        border-radius: 15px;
    }

    #myBar {
        width: 10%;
        height: 30px;
        background-color: #0099ff;
        text-align: center;
        line-height: 30px;
        color: white;
        border-radius: 15px;
    }

    table {
        border-collapse: collapse;
        width: 95%;
    }

    tr {
        background-color: white;
    }

    td {
        height: 100px;
        text-align: center;
        padding: 15px;
        background-color: purple;
        color: white;
        font-size: 16pt;
    }

    .tablink {
        background-color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px 6px;
        font-size: 17px;
        width: 25%;
        border-bottom: 5px solid gray;
    }

    .tablink:hover {
        background-color: #555;
        color: white;
    }

    .tabcontent {
        display: none;
        padding: 50px;
    }

    #Social table {
        background-color: white;
    }

    #achievements td {
        background-color: white;
        color: black;
        font-size: 12pt;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 400px;
        top: 50px;
        width: 50%;
        height: 70%;
        overflow: hidden;
        background-color: rgb(0,0,0);
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 300px;
        max-width: 700px;
        height: 300px;
        background-color: transparent;
        border: hidden;
    }

    #brainCaption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        opacity: 1;
    }

    .close:hover, .close:focus {
        color: #f1f1f1;
        cursor: pointer;    
    }

    #brainIcon:hover {
        cursor: pointer;
    }

    #paintIcon:hover {
        cursor: pointer;
    }

    #bankIcon:hover {
        cursor: pointer;
    }

    #DNAIcon:hover {
        cursor: pointer;
    }

    #glassesIcon {
        cursor: pointer;
    }

    #glovesIcon:hover {
        cursor: pointer;
    }

    #mapIcon:hover {
        cursor: pointer;
    }

    #scrollIcon:hover {
        cursor: pointer;
    }

    #trophyIcon:hover {
        cursor: pointer;
    }

    #penIcon:hover {
        cursor: pointer;
    }

    .oppDt {
        padding: 0;
        margin: 0
    }

    .oppDd {
        text-indent: 100px;
        padding: 0;
        margin: 0
    }
</style>

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<button class="tablink" onclick="openPage('Performance', 'defaultOpen',this)" id="defaultOpen">Performance</button>
<button class="tablink" onclick="openPage('Social', 'socialTab', this)" id="socialTab">Social</button>
<br/>
<div id="Performance" class="tabcontent">
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>@Html.LabelFor(m => Model.Location):</dt>
        <dd>
            @Model.Location
        [ @Html.ActionLink("Change your location", "ChangeLocation") ]
    </dd>

    <dt>Profile Picture:</dt>
    @{
    Html.RenderPartial("_EditPhoto");
    }
    @if (ViewBag.Message != null)
{
    <p class="alert alert-success" id="successMessage">@ViewBag.Message</p>
}

    <dt>Preferences:</dt>
    <dd>[ @Html.ActionLink("Manage your Preferences", "ManagePreferences") ]</dd>

    <dt>Password:</dt>
    <dd>
        [
        @if (Model.HasPassword)
    {
        @Html.ActionLink("Change your password", "ChangePassword")
}
else
{
    @Html.ActionLink("Create", "SetPassword")
}
        ]
    </dd>

    @*
    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

     See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

     Uncomment the following block after you have set up two-factor authentication
    *@
    @*
    <dt>Phone Number:</dt>
    <dd>
        @(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
        {
            <br />
            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }
        }
        else
        {
            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
        }
    </dd>
    *@
    </dl>

    <h4>Current Progress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Level: </dt>
        <dd>@level</dd>
        <dt>Overall Score: </dt>
        <dd>@score</dd>
        <dt style="margin-top: 7px">Next Level Progress: </dt>
        <dd>
            <div id="myProgress">
                <div id="myBar">@percent %</div>
            </div>
        </dd>
    </dl>

    <h4>Category Performance</h4>
    <hr />
        <table id="categoryPerformance">
            <tr>
                <td id="artBox" style="border-radius: 35px 0 0 35px"><img src="~/Images/art_Icon.png" alt="Art Icon" width="66" height="66"/>
                </td>
                <td id="entertainmentBox">
                    <img src="~/Images/entertainment_Icon.png" alt="Entertainment Icon" width="65" height="65"/>
                </td>
                <td id="geographyBox"><img src="~/Images/geography_Icon.png" alt="Geography Icon" width="60" height="60"/>
                </td>
                <td id="historyBox">
                    <img src="~/Images/history_Icon.png" alt="History Icon" width="60" height="60"/>
                </td>
                <td id="scienceBox">
                    <img src="~/Images/science_Icon.png" alt="Science Icon" width="60" height="60"/>
                </td>
                <td id="sportsBox" style="border-radius: 0 35px 35px 0">
                    <img src="~/Images/sports_Icon.png" alt="Sports Icon" width="70" height="70"/>
                </td>
            </tr>
        </table>
    <br/>
    <h4>Game Performance</h4>
    <hr />
    <table id="gamePerformance">
        <tr>
            <td id="gamesWon" style="border-radius: 35px 0 0 35px; background-color: green; width: 30%">
                @winCount
                <br />
                Won
            </td>
            <td id="gamesLost" style="background-color: red; width: 30%">
                @lossCount
                <br />
                Lost
            </td>
            <td id="gamesResigned" style="border-radius: 0 35px 35px 0; background-color: orangered; width: 30%">
                   
            </td>
        </tr>
    </table>
    <br />
    <h4>Challenges</h4>
    <hr />
    <table id="challengePerformance">
        <tr>
            <td id="challengeWins" style="border-radius: 35px 0 0 35px; background-color: green; width: 50%">
                @challengeWins
                <br />
                Won
            </td>
            <td id="challengeLosses" style="border-radius: 0 35px 35px 0; background-color: red; width: 50%">
                @challengeLosses
                <br />
                Lost
            </td>
        </tr>
    </table>
    <br/>
    <p style="text-align: center; font-size: 12pt">Challenges Total: @challengeTotal</p>
    <br/>
    <h4>Coins</h4>
    <hr />
    <img style="margin-left: 70px;" src="~/Images/Coins/coins.png" alt="Coins Icon"/> @coins
    <br />
    <br />
    <h4>Achievements</h4>
    <hr />
    <table id="achievements" style="margin-top: 0">
        <tr>
            <td id="brainBox"><img id="brainIcon" src="~/Images/Achievements/brain-icon-silhouette.png" alt="Brainiac Achievement Icon" width="60" height="60" /><br/>Brainiac</td>
            <td id="paintBox"><img id="paintIcon" src="~/Images/Achievements/Paint-icon-silhouette.png" alt="Art Connoisseur Achievement Icon" width="60" height="60" /><br />Art Connoisseur</td>
            <td id="glassesBox"><img id="glassesIcon" src="~/Images/Achievements/entertain-icon-silhouette.png" alt="Pop Culture Whiz Achievement Icon" width="60" height="60" /><br />Pop Culture Whiz</td>
            <td id="mapBox"><img id="mapIcon" src="~/Images/Achievements/map-icon-silhouette.png" alt="Map Scholar Achievement Icon" width="60" height="60" /><br />Map Scholar</td>
        </tr>
        <tr>
            <td id="scrollBox"><img id="scrollIcon" src="~/Images/Achievements/scroll-icon-silhouette.png" alt="History Buff Achievement Icon" width="60" height="60" /><br />History Buff</td>
            <td id="dnaBox"><img id="DNAIcon" src="~/Images/Achievements/DNA-icon-silhouette.png" alt="Science Nerd Achievement Icon" width="60" height="60" /><br />Science Nerd</td>
            <td id="gloveBox"><img id="glovesIcon" src="~/Images/Achievements/Gloves-icon-silhouette.png" alt="Sports Nut Achievement Icon" width="60" height="60" /><br />Sports Nut</td>
            <td id="trophyBox"><img id="trophyIcon" src="~/Images/Achievements/trophy-icon-silhouette.png" alt="Champion Achievement Icon" width="60" height="60" /><br />Champion</td>
        </tr>
        <tr>
            <td id="bankBox"><img id="bankIcon" src="~/Images/Achievements/bank-icon-silhouette.png" alt="Moneybags Achievement Icon" width="60" height="60" /><br />Moneybags</td>
            <td id="penBox"><img id="penIcon" src="~/Images/Achievements/pen-icon-silhouette.png" alt="Quiz Master Achievement Icon" width="60" height="60" /><br />Quiz Master</td>
        </tr>
    </table>
</div>
<div id="brainModal" class="modal">
    <span class="close">×</span>
    <img class="modal-content" id="brainImg">
    <div id="brainCaption"></div>
</div>
<div id="Social" class="tabcontent">
    <h3>Your Friends</h3>
    <hr/>
    @for (int i = 0; i< opponents.Count; i++) 
    {
        {@opponents[i].UserName}
        
        if (opponents[i].UserName != "No Friends Exist For This Player")
        {
             var nameParts = opponents[i].UserName.Split('@').ToArray();
                var name = nameParts[0];
            
            {<input type="button" style="margin-left: 50px;" class="btn btn-default" value="View Profile" name="oppProfileBtn" onclick="openOppProfile('@name')" /><br /><br />}
        }
        {
            var parts = opponents[i].UserName.Split('@').ToArray();
            var opponentName = parts[0]; 
            <div class="oppProfileBox" id="@opponentName" style="display:none; text-indent: 50px;">
            
            <h4>Current Stats:</h4>
            <hr />
            <dl>
                <dt class="oppDt">Level: </dt>
                <dd class="oppDd"> @opponents[i].Level</dd>
                <dt class="oppDt">Overall Score: </dt>
                <dd class="oppDd"> @opponents[i].OverallScore</dd>
                <dt class="oppDt">Game Performance VS You: </dt>
                
                @{ 
                    var oppArtTotal = 0;
                    var oppArtCorrect = 0;
                    var oppArtPercent = (decimal)100;
                    var oppEntTotal = 0;
                    var oppEntCorrect = 0;
                    var oppEntPercent = (decimal)100;
                    var oppGeographyTotal = 0;
                    var oppGeographyCorrect = 0;
                    var oppGeographyPercent = (decimal)100;
                    var oppHistoryTotal = 0;
                    var oppHistoryCorrect = 0;
                    var oppHistoryPercent = (decimal)100;
                    var oppScienceTotal = 0;
                    var oppScienceCorrect = 0;
                    var oppSciencePercent = (decimal)100;
                    var oppSportTotal = 0;
                    var oppSportCorrect = 0;
                    var oppSportPercent = (decimal)100;
                    var oppVersusWins = 0;
                    var oppVersusLosses = 0;
                    var oppWinCount = 0;
                    var oppLossCount = 0;
                    var oppResignCount = 0;
                    var oppResignPercent = (decimal)100;
                    var oppChallengeLosses = 0;

                    if (!opponents[i].UserName.Equals("No Friends Exist For This Player"))
                    {
                        oppArtTotal = (int)ViewData[opponents[i].UserName + "ArtTotal"];
                        oppArtCorrect = (int)ViewData[opponents[i].UserName + "ArtCorrect"];
                        oppArtPercent = Math.Round((oppArtCorrect / (decimal)oppArtTotal), 2, MidpointRounding.AwayFromZero) * 100;
                        oppEntTotal = (int)ViewData[opponents[i].UserName + "EntertainTotal"];
                        oppEntCorrect = (int)ViewData[opponents[i].UserName + "EntertainCorrect"];
                        oppEntPercent = Math.Round((oppEntCorrect / (decimal)oppEntTotal), 2, MidpointRounding.AwayFromZero) * 100;
                        oppGeographyTotal = (int)ViewData[opponents[i].UserName + "GeographyTotal"];
                        oppGeographyCorrect = (int)ViewData[opponents[i].UserName + "GeographyCorrect"];
                        oppGeographyPercent = Math.Round((oppGeographyCorrect / (decimal)oppGeographyTotal), 2, MidpointRounding.AwayFromZero) * 100;
                        oppHistoryTotal = (int)ViewData[opponents[i].UserName + "HistoryTotal"];
                        oppHistoryCorrect = (int)ViewData[opponents[i].UserName + "HistoryCorrect"];
                        oppHistoryPercent = Math.Round((oppHistoryCorrect / (decimal)oppHistoryTotal), 2, MidpointRounding.AwayFromZero) * 100;
                        oppScienceTotal = (int)ViewData[opponents[i].UserName + "ScienceTotal"];
                        oppScienceCorrect = (int)ViewData[opponents[i].UserName + "ScienceCorrect"];
                        oppSciencePercent = Math.Round((oppScienceCorrect / (decimal)oppScienceTotal), 2, MidpointRounding.AwayFromZero) * 100;
                        oppSportTotal = (int)ViewData[opponents[i].UserName + "SportsTotal"];
                        oppSportCorrect = (int)ViewData[opponents[i].UserName + "SportsCorrect"];
                        oppSportPercent = Math.Round((oppSportCorrect / (decimal)oppSportTotal), 2, MidpointRounding.AwayFromZero) * 100;
                        oppVersusWins = (int)ViewData[opponents[i].UserName + "VersusWins"];
                        oppVersusLosses = (int)ViewData[opponents[i].UserName + "VersusLosses"];
                        oppWinCount = (int)ViewData[opponents[i].UserName + "Wins"];
                        oppLossCount = (int)ViewData[opponents[i].UserName + "Losses"];
                        oppResignCount = (int)ViewData[opponents[i].UserName + "Resigns"];
                        oppResignPercent = (decimal)0;
                        if (oppLossCount == 0)
                        {
                            oppResignPercent = Math.Round((oppResignCount / (decimal)1), 2) * 100;
                        }
                        else
                        {
                            oppResignPercent = Math.Round((oppResignCount / (decimal)oppLossCount), 2) * 100;
                        }
                        oppChallengeLosses = opponents[i].ChallengeCount - opponents[i].ChallengeWins;
                    }
                }
                <dd class="oppDd">Wins: @oppVersusWins</dd>
                <dd class="oppDd">Losses: @oppVersusLosses</dd>
                <dt class="oppDt">Category Stats: </dt>
                <dd class="oppDd">Art: @oppArtPercent %</dd>
                <dd class="oppDd">Entertainment: @oppEntPercent %</dd>
                <dd class="oppDd">Geography: @oppGeographyPercent %</dd>
                <dd class="oppDd">History: @oppHistoryPercent %</dd>
                <dd class="oppDd">Science: @oppSciencePercent %</dd>
                <dd class="oppDd">Sports: @oppSportPercent %</dd>
                <dt class="oppDt">Overall Game Performance: </dt>
                <dd class="oppDd">Wins: @oppWinCount</dd>
                <dd class="oppDd">Losses: @oppLossCount</dd>
                <dd class="oppDd">Resign %: @oppResignPercent %</dd>
                <dt class="oppDt">Coins: </dt>
                <dd class="oppDd">@opponents[i].Coins</dd>
                <dt class="oppDt">Challenge Performance: </dt>
                <dd class="oppDd">Wins: @opponents[i].ChallengeWins</dd>
                <dd class="oppDd">Losses: @oppChallengeLosses</dd>
            </dl>
            <br /><br /><input type="button" class="btn btn-default" value="back" name="backBtn" onclick="closeOppProfile('@opponentName')" />
        </div>}
    }
</div>

<script>
    var elem = document.getElementById("myBar");
    var width = @percent * 100;
    elem.style.width = width + '%';
    elem.innerHTML = width * 1 + '%';
</script>

<script>
    var elemA = document.getElementById("artBox");
    var percentA = @percentArt;
    elemA.insertAdjacentHTML("beforeend", "<br/>");
    elemA.insertAdjacentText("beforeend", percentA + '%');

    var elemE = document.getElementById("entertainmentBox");
    var percentE = @percentEntertainment;
    elemE.insertAdjacentHTML("beforeend", "<br/>");
    elemE.insertAdjacentText("beforeend", percentE + '%');

    var elemG = document.getElementById("geographyBox");
    var percentG = @percentGeography;
    elemG.insertAdjacentHTML("beforeend", "<br/>");
    elemG.insertAdjacentText("beforeend", percentG + '%');

    var elemH = document.getElementById("historyBox");
    var percentH = @percentHistory;
    elemH.insertAdjacentHTML("beforeend", "<br/>");
    elemH.insertAdjacentText("beforeend", percentH + '%');

    var elemSc = document.getElementById("scienceBox");
    var percentSc = @percentScience;
    elemSc.insertAdjacentHTML("beforeend", "<br/>");
    elemSc.insertAdjacentText("beforeend", percentSc + '%');

    var elemSp = document.getElementById("sportsBox");
    var percentSp = @percentSports;
    elemSp.insertAdjacentHTML("beforeend", "<br/>");
    elemSp.insertAdjacentText("beforeend", percentSp + '%');

    var elemResigned = document.getElementById("gamesResigned");
    var percentResigned = @resignPercent;
    elemResigned.insertAdjacentText("beforeend", percentResigned + '%');
    elemResigned.insertAdjacentHTML("beforeend", "<br/>");
    elemResigned.insertAdjacentText("beforeend", "Resigns");
</script>

<script>
    function openPage(pageName, tabName, elmnt) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.borderBottom = "5px solid gray";
        }
        document.getElementById(pageName).style.display = "block";
        document.getElementById(tabName).style.borderBottom = "5px solid dodgerblue";
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

<script>
    function openOppProfile(name) {
        var n = name.toString();
        var elem = document.getElementById(n);
        elem.style.display = 'block';
        document.getElementById("socialTab").focus();
    }

    function closeOppProfile(name) {
        var n = name.toString();
        var elem = document.getElementById(name);
        elem.style.display = 'none';
        document.getElementById("socialTab").focus();
    }
</script>

<script>
    var list = @Html.Raw(Json.Encode(ViewData["achievements"]));
    var score = @score;
    if (score > 24) {
        var img = document.getElementById("brainIcon");
        img.src = "../Images/Achievements/brain-icon.png";
        var modal = document.getElementById('brainModal');
        var modalImg = document.getElementById("brainImg");
        var captionText = document.getElementById("brainCaption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            var text = list[1].Name.toString();
            text = text + ": " + list[1].Description.toString();
            captionText.innerHTML = text;
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }


    }

    var artScore = @totalArt;
    if (artScore > 9) {
        var img = document.getElementById("paintIcon");
        img.src = "../Images/Achievements/Paint-icon.png";
        var modal = document.getElementById('brainModal');
        var modalImg = document.getElementById("brainImg");
        var captionText = document.getElementById("brainCaption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            var text = list[0].Name.toString();
            text = text + ": " + list[0].Description.toString();
            captionText.innerHTML = text;
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
    }

    var entertainScore = @totalEntertainment;
    if (entertainScore > 9) {
        var img = document.getElementById("glassesIcon");
        img.src = "../Images/Achievements/entertain-icon.png";
        var modal = document.getElementById('brainModal');
        var modalImg = document.getElementById("brainImg");
        var captionText = document.getElementById("brainCaption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            var text = list[6].Name.toString();
            text = text + ": " + list[6].Description.toString();
            captionText.innerHTML = text;
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
    }

    var geographyScore = @totalGeography;
    if (geographyScore > 9) {
        var img = document.getElementById("mapIcon");
        img.src = "../Images/Achievements/map-icon.png";
        var modal = document.getElementById('brainModal');
        var modalImg = document.getElementById("brainImg");
        var captionText = document.getElementById("brainCaption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            var text = list[4].Name.toString();
            text = text + ": " + list[4].Description.toString();
            captionText.innerHTML = text;
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
    }

    var historyScore = @totalHistory;
    if (historyScore > 9) {
        var img = document.getElementById("scrollIcon");
        img.src = "../Images/Achievements/scroll-icon.png";
        var modal = document.getElementById('brainModal');
        var modalImg = document.getElementById("brainImg");
        var captionText = document.getElementById("brainCaption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            var text = list[3].Name.toString();
            text = text + ": " + list[3].Description.toString();
            captionText.innerHTML = text;
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
    }

    var scienceScore = @totalScience;
    if (scienceScore > 9) {
        var img = document.getElementById("DNAIcon");
        img.src = "../Images/Achievements/DNA-icon.png";
        var modal = document.getElementById('brainModal');
        var modalImg = document.getElementById("brainImg");
        var captionText = document.getElementById("brainCaption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            var text = list[8].Name.toString();
            text = text + ": " + list[8].Description.toString();
            captionText.innerHTML = text;
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
    }

    var sportScore = @totalSports;
    if (sportScore > 9) {
        var img = document.getElementById("glovesIcon");
        img.src = "../Images/Achievements/Gloves-icon.png";
        var modal = document.getElementById('brainModal');
        var modalImg = document.getElementById("brainImg");
        var captionText = document.getElementById("brainCaption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            var text = list[9].Name.toString();
            text = text + ": " + list[9].Description.toString();
            captionText.innerHTML = text;
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
    }

    var wins = @winCount;
    if (wins > 9) {
        var img = document.getElementById("trophyIcon");
        img.src = "../Images/Achievements/trophy-icon.png";
        var modal = document.getElementById('brainModal');
        var modalImg = document.getElementById("brainImg");
        var captionText = document.getElementById("brainCaption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            var text = list[2].Name.toString();
            text = text + ": " + list[2].Description.toString();
            captionText.innerHTML = text;
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
    }

    var savings = @coins;
    if (savings > 999) {
        var img = document.getElementById("bankIcon");
        img.src = "../Images/Achievements/bank-icon.png";
        var modal = document.getElementById('brainModal');
        var modalImg = document.getElementById("brainImg");
        var captionText = document.getElementById("brainCaption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            var text = list[5].Name.toString();
            text = text + ": " + list[5].Description.toString();
            captionText.innerHTML = text;
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
    }

    var numQuestionsInRow = @numConsecutiveQuestions;
    if (numQuestionsInRow > 4) {
        var img = document.getElementById("penIcon");
        img.src = "../Images/Achievements/pen-icon.png";
        var modal = document.getElementById('brainModal');
        var modalImg = document.getElementById("brainImg");
        var captionText = document.getElementById("brainCaption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            var text = list[7].Name.toString();
            text = text + ": " + list[7].Description.toString();
            captionText.innerHTML = text;
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
    }
</script>
