﻿@model TriviaCrack.Models.ManagePreferencesViewModel

@{
    ViewBag.Title = "Preferences";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ManagePreferences", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <h4>Sound</h4>
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.Sound, new { @checked = "checked" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}
