﻿@model TriviaCrack.Models.ManagePreferencesViewModel

@{
    ViewBag.Title = "Preferences";
}
<style>
    * {
        font-family: Verdana;
    }

    h4 {
        text-indent: 5px;
    }

    .col-md-10 {
        float: left;
        margin-left: 20px;
    }

    input {
        margin-left: 20px;
    }
</style>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ManagePreferences", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.Sound, new { @checked = "checked" })
        </div>
        <h4>Sound</h4>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2">
            <input style="border-radius: 15px; font-size: 14pt; width: 120px; height: 40px; background-color: purple; color: white;" type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}
