﻿@using TriviaCrack.Models

@{
    ViewBag.Title = "Help";

    var extraTimePowerUp = (PowerUp)ViewData["extraTimePowerUp"];
    var bombPowerUp = (PowerUp)ViewData["bombPowerUp"];
    var autoCorrectPowerUp = (PowerUp)ViewData["autoCorrectPowerUp"];
    List<Achievement> achievements = (List<Achievement>)ViewData["achievements"];
}
<style>
    * {
        font-family: Verdana;
    }

    h2 {
        text-indent: 5px;
    }

    h3, h4 {
        text-indent: 10px;
    }

    img, i {
        float: left;
    }

    .powerupTd {
        padding-left: 40px;
    }

    .achievementTd {
        padding-left: 20px;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Help</h2>

<h3>Power Ups</h3>
<table>
    <tr>
        <th>
            <h4>Name</h4>
        </th>
        <th>
            <h4>Cost</h4>
        </th>
        <th>
            <h4>Description</h4>
        </th>
     </tr>
     <tr>
        <td class="powerupTd">
            <i class="fa fa-clock-o"></i><label> @extraTimePowerUp.Name </label><br />
        </td>
        <td class="powerupTd">
            <img src="~/Images/Coins/coins.png" width="24" height="24" alt="Coins Icon" />
            <label>@extraTimePowerUp.Cost</label>
        </td>
        <td class="powerupTd">
            <p>Adds 15 seconds to the timer</p>
        </td>
     </tr>
    <tr>
        <td class="powerupTd">
            <i class="fa fa-bomb"></i> <label>@bombPowerUp.Name </label><br />
        </td>
        <td class="powerupTd">
            <img src="~/Images/Coins/coins.png" width="24" height="24" alt="Coins Icon" />
            <label>@bombPowerUp.Cost </label>
        </td>
        <td class="powerupTd">
            <p>Removes 2 incorrect answer choices</p>
        </td>
    </tr>
    <tr>
        <td class="powerupTd">
            <i class="fa fa-check"></i><label> @autoCorrectPowerUp.Name </label><br />
        </td>
        <td class="powerupTd">
            <img src="~/Images/Coins/coins.png" width="24" height="24" alt="Coins Icon" />
            <label>@autoCorrectPowerUp.Cost </label>
        </td>
        <td class="powerupTd">
            <p>Gives the player the correct answer</p>
        </td>
    </tr>
</table>
<br /><br />
<h3>Player Achievements</h3>
<table>
    <tr>
        <td class="achievementTd">
            <h4>Name</h4>
        </td>
        <td class="achievementTd">
            <h4>Reward</h4>
        </td>
        <td class="achievementTd">
            <h4>Description</h4>
        </td>
    </tr>
    <tr>
        <td class="achievementTd">
            <label> @achievements[0].Name </label><br />
        </td>
        <td class="achievementTd">
            <img src="~/Images/Coins/coins.png" width="24" height="24" alt="Coins Icon" />
            <label>100</label>
        </td>
        <td class="achievementTd">
            <p>@achievements[0].Description</p>
        </td>
    </tr>
    <tr>
        <td class="achievementTd">
            <label> @achievements[1].Name </label><br />
        </td>
        <td class="achievementTd">
            <img src="~/Images/Coins/coins.png" width="24" height="24" alt="Coins Icon" />
            <label>250</label>
        </td>
        <td class="achievementTd">
            <p>@achievements[1].Description</p>
        </td>
    </tr>
    <tr>
        <td class="achievementTd">
            <label> @achievements[2].Name </label><br />
        </td>
        <td class="achievementTd">
            <img src="~/Images/Coins/coins.png" width="24" height="24" alt="Coins Icon" />
            <label>250</label>
        </td>
        <td class="achievementTd">
            <p>@achievements[2].Description</p>
        </td>
    </tr>
    <tr>
        <td class="achievementTd">
            <label> @achievements[3].Name </label><br />
        </td>
        <td class="achievementTd">
            <img src="~/Images/Coins/coins.png" width="24" height="24" alt="Coins Icon" />
            <label>100</label>
        </td>
        <td class="achievementTd">
            <p>@achievements[3].Description</p>
        </td>
    </tr>
    <tr>
        <td class="achievementTd">
            <label> @achievements[4].Name </label><br />
        </td>
        <td class="achievementTd">
            <img src="~/Images/Coins/coins.png" width="24" height="24" alt="Coins Icon" />
            <label>100</label>
        </td>
        <td class="achievementTd">
            <p>@achievements[4].Description</p>
        </td>
    </tr>
    <tr>
        <td class="achievementTd">
            <label> @achievements[5].Name </label><br />
        </td>
        <td class="achievementTd">
            <img src="~/Images/Coins/coins.png" width="24" height="24" alt="Coins Icon" />
            <label>250</label>
        </td>
        <td class="achievementTd">
            <p>@achievements[5].Description</p>
        </td>
    </tr>
    <tr>
        <td class="achievementTd">
            <label> @achievements[6].Name </label><br />
        </td>
        <td class="achievementTd">
            <img src="~/Images/Coins/coins.png" width="24" height="24" alt="Coins Icon" />
            <label>100</label>
        </td>
        <td class="achievementTd">
            <p>@achievements[6].Description</p>
        </td>
    </tr>
    <tr>
        <td class="achievementTd">
            <label> @achievements[7].Name </label><br />
        </td>
        <td class="achievementTd">
            <img src="~/Images/Coins/coins.png" width="24" height="24" alt="Coins Icon" />
            <label>50</label>
        </td>
        <td class="achievementTd">
            <p>@achievements[7].Description</p>
        </td>
    </tr>
    <tr>
        <td class="achievementTd">
            <label> @achievements[8].Name </label><br />
        </td>
        <td class="achievementTd">
            <img src="~/Images/Coins/coins.png" width="24" height="24" alt="Coins Icon" />
            <label>100</label>
        </td>
        <td class="achievementTd">
            <p>@achievements[8].Description</p>
        </td>
    </tr>
    <tr>
        <td class="achievementTd">
            <label> @achievements[9].Name </label><br />
        </td>
        <td class="achievementTd">
            <img src="~/Images/Coins/coins.png" width="24" height="24" alt="Coins Icon" />
            <label>100</label>
        </td>
        <td class="achievementTd">
            <p>@achievements[9].Description</p>
        </td>
    </tr>
</table>