﻿@using TriviaCrack.Models

@{
    ViewBag.Title = "Help";

    var extraTimePowerUp = (PowerUp)ViewData["extraTimePowerUp"];
    var bombPowerUp = (PowerUp)ViewData["bombPowerUp"];
    var autoCorrectPowerUp = (PowerUp)ViewData["autoCorrectPowerUp"];
    List<Achievement> achievements = (List<Achievement>)ViewData["achievements"];
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Help</h2><br/><br/>

<h3>Power Ups</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h4>Name</h4>
        </div>
        <div class="col-sm-4">
            <h4>Cost</h4>
        </div>
        <div class="col-sm-4">
            <h4>Description</h4>
        </div>
    </div><br />
    <div class="row">
        <div class="col-sm-4">
            <i class="fa fa-clock-o"></i><label> @extraTimePowerUp.Name </label><br />
        </div>
        <div class="col-sm-4">
            <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
            <label>@extraTimePowerUp.Cost</label>
        </div>
        <div class="col-sm-4">
            <p>Adds 15 seconds to the timer</p>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-sm-4">
            <i class="fa fa-bomb"></i> <label>@bombPowerUp.Name </label><br />
        </div>
        <div class="col-sm-4">
            <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
            <label>@bombPowerUp.Cost </label>
        </div>
        <div class="col-sm-4">
            <p>Removes 2 incorrect answer choices</p>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-sm-4">
            <i class="fa fa-check"></i><label> @autoCorrectPowerUp.Name </label><br />
        </div>
        <div class="col-sm-4">
            <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
            <label>@autoCorrectPowerUp.Cost </label>
        </div>
        <div class="col-sm-4">
            <p>Gives the player the correct answer</p>
        </div>
    </div>
</div>

<br/><br />
<h3>Player Achievements</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h4>Name</h4>
        </div>
        <div class="col-sm-4">
            <h4>Reward</h4>
        </div>
        <div class="col-sm-4">
            <h4>Description</h4>
        </div>
    </div><br />
    <div class="row">
        <div class="col-sm-4">
            <label> @achievements[0].Name </label><br />
        </div>
        <div class="col-sm-4">
            <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
            <label>100</label>
        </div>
        <div class="col-sm-4">
            <p>@achievements[0].Description</p>
        </div>
    </div><br />
    <div class="row">
        <div class="col-sm-4">
            <label> @achievements[1].Name </label><br />
        </div>
        <div class="col-sm-4">
            <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
            <label>250</label>
        </div>
        <div class="col-sm-4">
            <p>@achievements[1].Description</p>
        </div>
    </div><br />
    <div class="row">
        <div class="col-sm-4">
            <label> @achievements[2].Name </label><br />
        </div>
        <div class="col-sm-4">
            <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
            <label>250</label>
        </div>
        <div class="col-sm-4">
            <p>@achievements[2].Description</p>
        </div>
    </div><br />
    <div class="row">
        <div class="col-sm-4">
            <label> @achievements[3].Name </label><br />
        </div>
        <div class="col-sm-4">
            <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
            <label>100</label>
        </div>
        <div class="col-sm-4">
            <p>@achievements[3].Description</p>
        </div>
    </div><br />
    <div class="row">
        <div class="col-sm-4">
            <label> @achievements[4].Name </label><br />
        </div>
        <div class="col-sm-4">
            <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
            <label>100</label>
        </div>
        <div class="col-sm-4">
            <p>@achievements[4].Description</p>
        </div>
    </div><br />
    <div class="row">
        <div class="col-sm-4">
            <label> @achievements[5].Name </label><br />
        </div>
        <div class="col-sm-4">
            <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
            <label>250</label>
        </div>
        <div class="col-sm-4">
            <p>@achievements[5].Description</p>
        </div>
    </div><br />
    <div class="row">
        <div class="col-sm-4">
            <label> @achievements[6].Name </label><br />
        </div>
        <div class="col-sm-4">
            <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
            <label>100</label>
        </div>
        <div class="col-sm-4">
            <p>@achievements[6].Description</p>
        </div>
    </div><br />
    <div class="row">
        <div class="col-sm-4">
            <label> @achievements[7].Name </label><br />
        </div>
        <div class="col-sm-4">
            <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
            <label>50</label>
        </div>
        <div class="col-sm-4">
            <p>@achievements[7].Description</p>
        </div>
    </div><br />
    <div class="row">
        <div class="col-sm-4">
            <label> @achievements[8].Name </label><br />
        </div>
        <div class="col-sm-4">
            <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
            <label>100</label>
        </div>
        <div class="col-sm-4">
            <p>@achievements[8].Description</p>
        </div>
    </div><br />
    <div class="row">
        <div class="col-sm-4">
            <label> @achievements[9].Name </label><br />
        </div>
        <div class="col-sm-4">
            <img src="~/Images/Coins/coins.png" alt="Coins Icon" />
            <label>100</label>
        </div>
        <div class="col-sm-4">
            <p>@achievements[9].Description</p>
        </div>
    </div><br />   
</div>