﻿@model TriviaCrack.ViewModels.PlayerGames
@{
    ViewBag.Title = "Home";
    var loggedInPlayerId = (string)ViewData["LoggedInPlayerId"];
    var isenabled = (string)ViewData["IsEnabled"];
}
<style>
* {
    box-sizing: border-box
}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

</style>

<div class="slideshow-container">

    <div class="mySlides">
        <a href="@Url.Action("Index", "Home")"><img src="~/Images/Banners/capstonebanner04.png" style="width:100%; background-color: cornflowerblue"></a>
    </div>

    <div class="mySlides">
        <a href="@Url.Action("Register", "Account")"><img src="~/Images/Banners/capstonebanner09.png" style="width:100%"></a>
    </div>

    <div class="mySlides">
        <a href="@Url.Action("Create", "SubmittedQuestions")"><img src="~/Images/Banners/capstonebanner10.png" style="width:100%; background-color: yellowgreen"></a>
    </div>

    <a class="prev" onclick="plusSlides(-1)"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="next" onclick="plusSlides(1)"><span class="glyphicon glyphicon-chevron-right"></span></a>

</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>


<div class="row">
    <div class="col-md-4">
        <p>
            @if (Request.IsAuthenticated && isenabled == "True")
            {
        <input type="button" value="New Game" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Create", "Trivia") + "'");" />
}
        </p>
    </div>
</div>

@if (Request.IsAuthenticated && isenabled == "True")
{
    <input type="checkbox" id="activeGamesCheckbox" checked="checked">
    <label>Show Active Games</label>
    <div id="activeGames">
        @if (Model.ActiveGames.Any())
        {
            <h2><span class=" label label-success">Active Games</span>
            </h2>
            <div style="overflow: scroll; height: 200px; width: 100%; overflow: auto">
                <table class="table">
                    <tr>
                        <th>
                            Player 1
                        </th>
                        <th>
                            Player 2
                        </th>
                        <th>
                            Turn
                        </th>
                        <th></th>
                    </tr>
                    @if (@Model.ActiveGames != null)
                    {
                        foreach (var item in @Model.ActiveGames)
                        {
                            var turn = "Opponents";
                            if (item.CurrentPlayer.Id == loggedInPlayerId)
                            {
                                turn = "Yours";
                            }
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Player1.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Player2.UserName)
                                </td>

                                <td>
                                    @turn
                                </td>
                                <td>
                                    @if (@turn == "Yours")
                                    {
                                        if (!item.ChallengeInProgress)
                                        {
                                            @Html.ActionLink("Resume", "Continue", "Trivia", new {gameId = item.Id}, null)
                                            <label>|</label>
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Resume Challenge", "GetNextQuestion", "ClassicChallenge", new {gameId = item.Id}, null)
                                            <label>|</label>
                                        }
                                    }

                                    @Html.ActionLink("Resign", "Resign", new {id = item.Id})
                                </td>
                            </tr>
                        }
                    }

                </table>
            </div>
        }
    </div>

    <input type="checkbox" id="finishedGamesCheckbox" checked="checked">
    <label>Show Finished Games</label>
    <div id="finishedGames">
        @if (Model.FinishedGames.Any())
        {
            <h2><span class=" label label-danger">Finished Games</span>
            </h2>
            <div style="overflow: scroll; height: 200px; width: 100%; overflow: auto">
                <table class="table">
                    <tr>
                        <th>
                            Player 1
                        </th>
                        <th>
                            Player 2
                        </th>
                        <th>
                            Winner
                        </th>
                        <th></th>
                    </tr>

                @foreach (var item in Model.FinishedGames)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Player1.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Player2.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Winner.UserName)
                        </td>
                        <td>
                            @Html.ActionLink("Score", "Score", "Trivia", new { gameId = item.Id }, null)
                        </td>
                    </tr>
                }
            </table>
            </div>
        }
    </div>

}
else
{
    <audio autoplay="autoplay" src="..\SoundEffects\Startup App.wav" type="audio/wav"></audio>
}

<img src="~/Images/Ads/thinbar_ad.jpg" alt="AppRight ad" style="padding-left: 115px"/>

@section scripts{
    <script>
        $(function () {
            $('#activeGamesCheckbox').change(function () {
                $('#activeGames').toggle($(this).is(':checked'));
            });
        });

        $(function () {
            $('#finishedGamesCheckbox').change(function () {
                $('#finishedGames').toggle($(this).is(':checked'));
            });
        });
    </script>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlidesOld(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlidesOld(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 8000); // Change image every 8 seconds

        }
</script>
}
