﻿@model TriviaCrack.Models.Game
@{
    ViewBag.Title = "Resign";
    var loggedInPlayerId = (string)ViewData["LoggedInPlayerId"];
}
<h2>Are you sure you want to resign from this game?</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class = "control-label col-md-2">Player 1</label>
            <div class="col-md-10" style="margin-top: 7px;">
                @if (Model.Player1.Id == loggedInPlayerId)
                {
                    <p>You</p>
                }
                else
                {
                    <p>@Model.Player1.UserName</p>
                }
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" >Player 2</label>
            <div class="col-md-10" style="margin-top: 7px;">
                @if (Model.Player2.Id == loggedInPlayerId)
                {
                    <p>You</p>
                }
                else
                {
                    <p>@Model.Player2.UserName</p>
                }
            </div>
        </div> <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Resign" class="btn btn-default" />
            </div>
        </div>
    </div>
}

