﻿@model IEnumerable<TriviaCrack.Models.Statistics>

@{
    ViewBag.Title = "Index";
}

<style>
    * {
        font-family: Verdana;
    }

    h2, h3 {
        text-indent: 5px;
    }
    table {
        width: 95%;
        margin-left: 10px;
    }

    th {
        background-color: blue;
        color: white;
        border-radius: 15px;
    }

    td {
        text-align: center;
    }
</style>

<h2>Site Stats</h2>
<p style="text-align: center;">These statistics represent the percentage of questions answered correctly for each categories.</p>

<h3>Overall</h3>
<table class="table">
    <tr>
        <th>Art</th>
        <th>Entertainment</th>
        <th>Sports</th>
    </tr>
    
    <tr>
        <td>@ViewBag.OverallArtStats%</td>
        <td>@ViewBag.OverallEntertainmentStats%</td>
        <td>@ViewBag.OverallSportsStats%</td>
    </tr>
    <tr>
        <th>Geography</th>
        <th>History</th>
        <th>Science</th>
    </tr>
    <tr>
        <td>@ViewBag.OverallGeographyStats%</td>
        <td>@ViewBag.OverallHistoryStats%</td>
        <td>@ViewBag.OverallScienceStats%</td>
    </tr>
</table>

<h3>Monthly</h3>
<table class="table">
    <tr>
        <th>Art</th>
        <th>Entertainment</th>
        <th>Sports</th>
    </tr>
    <tr>
        <td>@ViewBag.MonthlyArtStats%</td>
        <td>@ViewBag.MonthlyEntertainmentStats%</td>
        <td>@ViewBag.MonthlySportsStats%</td>
    </tr>
    <tr>
        <th>Geography</th>
        <th>History</th>
        <th>Science</th>
    </tr>
    <tr>
        <td>@ViewBag.MonthlyGeographyStats%</td>
        <td>@ViewBag.MonthlyHistoryStats%</td>
        <td>@ViewBag.MonthlyScienceStats%</td>
    </tr>
</table>

<h3>Weekly</h3>
<table class="table">
    <tr>
        <th>Art</th>
        <th>Entertainment</th>
        <th>Sports</th>
    </tr>
    <tr>
        <td>@ViewBag.WeeklyArtStats%</td>
        <td>@ViewBag.WeeklyEntertainmentStats%</td>
        <td>@ViewBag.WeeklySportsStats%</td>
    </tr>
    <tr>
        <th>Geography</th>
        <th>History</th>
        <th>Science</th>
    </tr>
    <tr>
        <td>@ViewBag.WeeklyGeographyStats%</td>
        <td>@ViewBag.WeeklyHistoryStats%</td>
        <td>@ViewBag.WeeklyScienceStats%</td>
    </tr>
</table>


<h3>Top Player Scores</h3>
<table class="table-condensed">
    <tr style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray">
        <th colspan="2" style="font-size:12pt; height: 30px; width: 50%; text-align: center;">Art</th>
    </tr>
    <tr>
        <td style="text-align: center; width: 50%">@ViewBag.TopArtName</td>
        <td style="text-align: center">@ViewBag.TopArtScore</td>
    </tr>
    <tr style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray">
        <th colspan="2" style="font-size:12pt; height: 30px; text-align: center;">Entertainment</th>
    </tr>
    <tr>
        <td style="text-align: center; width: 50%">@ViewBag.TopEntertainName</td>
        <td style="text-align: center">@ViewBag.TopEntertainScore</td>
    </tr>
    <tr style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray">
        <th colspan="2" style="font-size:12pt; height: 30px; text-align: center;">Geography</th>
    </tr>
    <tr>
        <td style="text-align: center" ; width: 50%>@ViewBag.TopGeographyName</td>
        <td style="text-align: center">@ViewBag.TopGeographyScore</td>
    </tr>
    <tr style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray">
        <th colspan="2" style="font-size:12pt; height: 30px; text-align: center;">History</th>
    </tr>
    <tr>
        <td style="text-align: center; width: 50%">@ViewBag.TopHistoryName</td>
        <td style="text-align: center">@ViewBag.TopHistoryScore</td>
    </tr>
    <tr style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray">
        <th colspan="2" style="font-size:12pt; height: 30px; text-align: center;">Science</th>
    </tr>
    <tr>
        <td style="text-align: center; width: 50%">@ViewBag.TopScienceName</td>
        <td style="text-align: center">@ViewBag.TopScienceScore</td>
    </tr>
    <tr style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray">
        <th colspan="2" style="font-size:12pt; height: 30px; text-align: center;">Sports</th>
    </tr>
    <tr>
        <td style="text-align: center; width: 50%">@ViewBag.TopSportsName</td>
        <td style="text-align: center">@ViewBag.TopSportsScore</td>
    </tr>
    <tr style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray">
        <th colspan="2" style="font-size:12pt; height: 30px; text-align: center;">Overall</th>
    </tr>
    <tr>
        <td style="text-align: center; width: 50%">@ViewBag.TopOverallName</td>
        <td style="text-align: center">@ViewBag.TopOverallScore</td>
    </tr>
</table>
<br />
<img src="~/Images/Ads/mobile_ad1.png" alt="AppRight ad" style="padding-left: 50px" />