﻿@model IEnumerable<TriviaCrack.Models.Statistics>

@{
    ViewBag.Title = "Index";
}

<h2>Site Stats</h2>
<p>These statistics represent the percentage of questions answered correctly for each categories.</p>

<h3>Overall</h3>
<table class="table">
    <tr>
        <th>Art</th>
        <th>Entertainment</th>
        <th>Sports</th>
        <th>Geography</th>
        <th>History</th>
        <th>Science</th>
    </tr>
    <tr>
        <th>@ViewBag.OverallArtStats%</th>
        <th>@ViewBag.OverallEntertainmentStats%</th>
        <th>@ViewBag.OverallSportsStats%</th>
        <th>@ViewBag.OverallGeographyStats%</th>
        <th>@ViewBag.OverallHistoryStats%</th>
        <th>@ViewBag.OverallScienceStats%</th>
    </tr>
</table>

<h3>Monthly</h3>
<table class="table">
    <tr>
        <th>Art</th>
        <th>Entertainment</th>
        <th>Sports</th>
        <th>Geography</th>
        <th>History</th>
        <th>Science</th>
    </tr>
    <tr>
        <th>@ViewBag.MonthlyArtStats%</th>
        <th>@ViewBag.MonthlyEntertainmentStats%</th>
        <th>@ViewBag.MonthlySportsStats%</th>
        <th>@ViewBag.MonthlyGeographyStats%</th>
        <th>@ViewBag.MonthlyHistoryStats%</th>
        <th>@ViewBag.MonthlyScienceStats%</th>
    </tr>
</table>

<h3>Weekly</h3>
<table class="table">
    <tr>
        <th>Art</th>
        <th>Entertainment</th>
        <th>Sports</th>
        <th>Geography</th>
        <th>History</th>
        <th>Science</th>
    </tr>
    <tr>
        <th>@ViewBag.WeeklyArtStats%</th>
        <th>@ViewBag.WeeklyEntertainmentStats%</th>
        <th>@ViewBag.WeeklySportsStats%</th>
        <th>@ViewBag.WeeklyGeographyStats%</th>
        <th>@ViewBag.WeeklyHistoryStats%</th>
        <th>@ViewBag.WeeklyScienceStats%</th>
    </tr>
</table>

<h3>Top Player Scores</h3>
<table class="table-condensed">
    <tr style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray">
        <th colspan="2" style="font-size:12pt; height: 30px; width: 50%; text-align: center;">Art</th>
    </tr>
    <tr>
        <th style="text-align: center; width: 50%">@ViewBag.TopArtName</th>
        <th style="text-align: center">@ViewBag.TopArtScore</th>
    </tr>
    <tr style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray">
        <th colspan="2" style="font-size:12pt; height: 30px; text-align: center;">Entertainment</th>
    </tr>
    <tr>
        <th style="text-align: center; width: 50%">@ViewBag.TopEntertainName</th>
        <th style="text-align: center">@ViewBag.TopEntertainScore</th>
    </tr>
    <tr style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray">
        <th colspan="2" style="font-size:12pt; height: 30px; text-align: center;">Geography</th>
    </tr>
    <tr>
        <th style="text-align: center"; width: 50%>@ViewBag.TopGeographyName</th>
        <th style="text-align: center">@ViewBag.TopGeographyScore</th>
    </tr>
    <tr style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray">
        <th colspan="2" style="font-size:12pt; height: 30px; text-align: center;">History</th>
    </tr>
    <tr>
        <th style="text-align: center; width: 50%">@ViewBag.TopHistoryName</th>
        <th style="text-align: center">@ViewBag.TopHistoryScore</th>
    </tr>
    <tr style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray">
        <th colspan="2" style="font-size:12pt; height: 30px; text-align: center;">Science</th>
    </tr>
    <tr>
        <th style="text-align: center; width: 50%">@ViewBag.TopScienceName</th>
        <th style="text-align: center">@ViewBag.TopScienceScore</th>
    </tr>
    <tr style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray">
        <th colspan="2" style="font-size:12pt; height: 30px; text-align: center;">Sports</th>
    </tr>
    <tr>
        <th style="text-align: center; width: 50%">@ViewBag.TopSportsName</th>
        <th style="text-align: center">@ViewBag.TopSportsScore</th>
    </tr>
    <tr style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray">
        <th colspan="2" style="font-size:12pt; height: 30px; text-align: center;">Overall</th>
    </tr>
    <tr>
        <th style="text-align: center; width: 50%">@ViewBag.TopOverallName</th>
        <th style="text-align: center">@ViewBag.TopOverallScore</th>
    </tr>
</table>
<br/>
<img src="~/Images/Ads/thinbar_ad.jpg" alt="AppRight ad"/>